@mixin focused-button-ring($ring-color) {
    outline-color: $ring-color;
}

@layer primevue {    
    .p-button-label {
        font-weight: 600;
    }

    .p-colorpicker-preview {
        padding: 0;

        &:enabled:focus {
            outline-offset: $focusOutlineOffset;
        }
    }

    .p-knob svg {
        border-radius: $borderRadius;
        outline-color: transparent;
        transition: outline-color $transitionDuration;

        &:focus-visible {
            @include focused();
        }
    }

    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus, 
    .p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus {
        outline-offset: 2px;
    }

    .p-selectbutton > .p-button,
    .p-togglebutton.p-button {
        transition: background-color $transitionDuration, border-color $transitionDuration, box-shadow $transitionDuration;
    }
    
    .p-accordion {
        .p-accordion-header {
            .p-accordion-header-link {
                border-top: 0 none;
                border-right: 0 none;
                border-left: 0 none;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                transition: background-color $transitionDuration, border-color $transitionDuration, box-shadow $transitionDuration;
                
                &:hover {
                    border-bottom-color: $accordionHeaderHoverBorderColor;
                }
            }
        }
    }
    
    .p-tabview {
        .p-tabview-nav {
            li {
                .p-tabview-nav-link {
                    transition: background-color $transitionDuration, border-color $transitionDuration, box-shadow $transitionDuration;
                }
            }
        }
    }

    .p-tabmenu {
        .p-tabmenu-nav {
            .p-tabmenuitem {
                .p-menuitem-link {
                    transition: background-color $transitionDuration, border-color $transitionDuration, box-shadow $transitionDuration;
                }
            }
        }
    }
    
    .p-carousel {
        .p-carousel-indicators .p-carousel-indicator.p-highlight button {
            background-color: $primaryColor;
        }
    }
    
    .p-galleria {
        .p-galleria-indicators .p-galleria-indicator.p-highlight button {
            background-color: $primaryColor;
        }
    }
    
    .p-button {    
        &.p-button-secondary:enabled:focus-visible {
            @include focused-button-ring($secondaryButtonBg);
        }
    
        &.p-button-success:enabled:focus-visible {
            @include focused-button-ring($successButtonBg);
        }
    
        &.p-button-info:enabled:focus-visible {
            @include focused-button-ring($infoButtonBg);
        }
    
        &.p-button-warning:enabled:focus-visible {
            @include focused-button-ring($warningButtonBg);
        }
    
        &.p-button-help:enabled:focus-visible {
            @include focused-button-ring($helpButtonBg);
        }
    
        &.p-button-danger:enabled:focus-visible {
            @include focused-button-ring($dangerButtonBg);
        }
    }
    
    .p-datatable {
        .p-datatable-tbody {
            > tr {
                &.p-datatable-dragpoint-top > td {
                    box-shadow: inset 0 2px 0 0 $primaryColor;
                }
    
                &.p-datatable-dragpoint-bottom > td {
                    box-shadow: inset 0 -2px 0 0 $primaryColor;
                }
            }
        }
    }

    .p-panel {
        border: 1px solid $panelHeaderBorderColor;
        border-radius: $borderRadius;
        background-color: $panelContentBg;

        .p-panel-header,
        .p-panel-content,
        .p-panel-footer {
            background: transparent;
            border: 0 none;
        }
    }

    .p-fileupload {
        .p-fileupload-content {
            border-top: 0 none;
        }
    }

    .p-fieldset {
        padding: 1.25rem;

        &.p-fieldset-toggleable .p-fieldset-legend a {
            padding: .5rem 1rem;

            .p-fieldset-legend-text {
                padding: 0;
            }
        }

        .p-fieldset-legend {
            border: 0 none;
            padding: 0;

            span {
                padding: .5rem 1rem;
            }
        }

        .p-fieldset-content {
            padding: 0;
        }
    }

    .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
        transform: translateX(1.125rem);
    }
    
    .p-speeddial-item {
        &.p-focus > .p-speeddial-action {
            @include focused-button-ring(scale-color($buttonBg, $lightness: 50%));
        }
    }

    .p-toast-message {
        backdrop-filter: blur(10px);
    }

    .p-inline-message-text {
        font-weight: 500;
    }

    .p-steps {
        .p-steps-item {
            &.p-highlight {
                .p-steps-number {
                    background: $primaryColor;
                    color: $primaryTextColor;
                }
            }
        }
    }

    .p-tree {
        border: 0 none;
        padding: 1rem;
        
        .p-tree-container {
            .p-treenode {    
                &:focus > .p-treenode-content {
                    outline-offset: -1 * $focusOutlineOffset;
                }
            }
        }
    }

    .p-organizationchart {
        .p-organizationchart-node-content {
            padding: .75rem 1rem;
            border-radius: $borderRadius;
        }
    }

    .p-overlaypanel {
        .p-overlaypanel-content {
            padding: 1.25rem;
        }
    }

    .p-progressbar-label {
        font-size: .75rem;
        font-weight: 600;
    }

    .p-multiselect-panel {    
        .p-multiselect-header {
            padding-left: 1.25rem;   
        }
    }

    .p-picklist-buttons .p-button,
    .p-orderlist-controls .p-button {
        transition: opacity $transitionDuration, background-color $transitionDuration, color $transitionDuration, border-color $transitionDuration, box-shadow $transitionDuration;
    }

    .p-orderlist {    
        .p-orderlist-header {
            background: $inputListHeaderBg;
            color: $inputListHeaderTextColor;
            border: $inputListBorder;
            border-bottom: 0 none;
            padding: 1rem 1.25rem;
            font-weight: 600;
            border-top-right-radius: $borderRadius;
            border-top-left-radius: $borderRadius;
        }

        .p-orderlist-list {
            border: $inputListBorder;
            border-top: 0 none;
            background: $inputListBg;
            color: $inputListTextColor;
            padding: $inputListPadding;
            border-bottom-right-radius: $borderRadius;
            border-bottom-left-radius: $borderRadius;

            .p-orderlist-item {
                border-radius: $borderRadius;
            }
        } 
    }

    .p-picklist {    
        .p-picklist-header {
            background: $inputListHeaderBg;
            color: $inputListHeaderTextColor;
            border: $inputListBorder;
            border-bottom: 0 none;
            padding: 1rem 1.25rem;
            font-weight: 600;
            border-top-right-radius: $borderRadius;
            border-top-left-radius: $borderRadius;
        }

        .p-picklist-list {
            border: $inputListBorder;
            border-top: 0 none;
            background: $inputListBg;
            color: $inputListTextColor;
            padding: $inputListPadding;
            border-bottom-right-radius: $borderRadius;
            border-bottom-left-radius: $borderRadius;

            .p-picklist-item {
                border-radius: $borderRadius;
            }
        } 
    }
    
    .p-message.p-message-info {
        .p-message-close:focus-visible {
            outline-color: $infoMessageIconColor;
        }
    }

    .p-message.p-message-success {
        .p-message-close:focus-visible {
            outline-color: $successMessageIconColor;
        }
    }

    .p-message.p-message-warn {
        .p-message-close:focus-visible {
            outline-color: $warningMessageIconColor;
        }
    }

    .p-message.p-message-error {
        .p-message-close:focus-visible {
            outline-color: $errorMessageIconColor;
        }
    }

    .p-toast {
        .p-toast-message.p-toast-message-info {
            .p-toast-icon-close {
                outline-color: $infoMessageIconColor;
            }
        }

        .p-toast-message.p-toast-message-success {
            .p-toast-icon-close {
                outline-color: $successMessageIconColor;
            }
        }

        .p-toast-message.p-toast-message-warn {
            .p-toast-icon-close {
                outline-color: $warningMessageIconColor;
            }
        }

        .p-toast-message.p-toast-message-error {
            .p-toast-icon-close {
                outline-color: $errorMessageIconColor;
            }
        }
    }
}