:root {
	--p-autocomplete-states-hover-affects-container-border-width: inherit;
	--p-autocomplete-states-hover-affects-container-border-style: inherit;
	--p-autocomplete-states-hover-affects-container-border-color: var(--p-primary-color);
	--p-autocomplete-states-focus-affects-container-outline-color: var(--p-primary-light-color);
	--p-autocomplete-states-focus-affects-container-outline-style: none;
	--p-autocomplete-states-focus-affects-container-outline-width: 0;
	--p-autocomplete-states-focus-affects-container-outline-offset: 0;
	--p-autocomplete-states-focus-affects-container-box-shadow: 0 0 0 0.2rem var(--p-primary-light-color);
	--p-autocomplete-states-focus-affects-container-border-width: inherit;
	--p-autocomplete-states-focus-affects-container-border-style: inherit;
	--p-autocomplete-states-focus-affects-container-border-color: var(--p-primary-color);
	--p-autocomplete-loading-icon-right: 0.75rem;
	--p-autocomplete-container-padding-top: 0.375rem;
	--p-autocomplete-container-padding-right: 0.75rem;
	--p-autocomplete-container-padding-bottom: 0.375rem;
	--p-autocomplete-container-padding-left: 0.75rem;
	--p-autocomplete-input-token-padding-top: 0.375rem;
	--p-autocomplete-input-token-padding-right: 0;
	--p-autocomplete-input-token-padding-bottom: 0.375rem;
	--p-autocomplete-input-token-padding-left: 0;
	--p-autocomplete-token-color: var(--p-color);
	--p-autocomplete-token-background: #dee2e6;
	--p-autocomplete-token-padding-top: 0.375rem;
	--p-autocomplete-token-padding-right: 0.75rem;
	--p-autocomplete-token-padding-bottom: 0.375rem;
	--p-autocomplete-token-padding-left: 0.75rem;
	--p-autocomplete-token-border-width: inherit;
	--p-autocomplete-token-border-style: inherit;
	--p-autocomplete-token-border-color: inherit;
	--p-autocomplete-token-border-radius: 16px;
	--p-autocomplete-token-focus-color: var(--p-color);
	--p-autocomplete-token-focus-background: #ced4da;
	--p-autocomplete-panel-color: #495057;
	--p-autocomplete-panel-background: #ffffff;
	--p-autocomplete-panel-border-width: 0;
	--p-autocomplete-panel-border-style: none;
	--p-autocomplete-panel-border-color: initial;
	--p-autocomplete-panel-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
	--p-autocomplete-list-padding-top: 0.75rem;
	--p-autocomplete-list-padding-right: 0;
	--p-autocomplete-list-padding-bottom: 0.75rem;
	--p-autocomplete-list-padding-left: 0;
	--p-autocomplete-item-color: #495057;
	--p-autocomplete-item-background: transparent;
	--p-autocomplete-item-border-width: 0;
	--p-autocomplete-item-border-style: none;
	--p-autocomplete-item-border-color: initial;
	--p-autocomplete-item-border-radius: 0;
	--p-autocomplete-item-padding-top: 0.75rem;
	--p-autocomplete-item-padding-right: 1.25rem;
	--p-autocomplete-item-padding-bottom: 0.75rem;
	--p-autocomplete-item-padding-left: 1.25rem;
	--p-autocomplete-item-margin-top: 0;
	--p-autocomplete-item-margin-right: 0;
	--p-autocomplete-item-margin-bottom: 0;
	--p-autocomplete-item-margin-left: 0;
	--p-autocomplete-item-active-color: var(--p-primary-darker-color);
	--p-autocomplete-item-active-background: #eff6ff;
	--p-autocomplete-item-active-affects-states-focus-background: rgba(var(--p-primary-color), 0.24);
	--p-autocomplete-item-focus-color: #495057;
	--p-autocomplete-item-focus-background: #dee2e6;
	--p-autocomplete-item-hover-color: #495057;
	--p-autocomplete-item-hover-background: #e9ecef;
	--p-autocomplete-item-group-font-size: inherit;
	--p-autocomplete-item-group-font-weight: 700;
	--p-autocomplete-item-group-color: #343a40;
	--p-autocomplete-item-group-background: #ffffff;
	--p-autocomplete-item-group-padding-top: 0.75rem;
	--p-autocomplete-item-group-padding-right: 1.25rem;
	--p-autocomplete-item-group-padding-bottom: 0.75rem;
	--p-autocomplete-item-group-padding-left: 1.25rem;
	--p-autocomplete-item-group-margin-top: 0;
	--p-autocomplete-item-group-margin-right: 0;
	--p-autocomplete-item-group-margin-bottom: 0;
	--p-autocomplete-item-group-margin-left: 0;
	--p-autocomplete-dropdown-loading-icon-right: 3.75rem;
	--p-autocomplete-invalid-input-border-width: inherit;
	--p-autocomplete-invalid-input-border-style: inherit;
	--p-autocomplete-invalid-input-border-color: #e24c4c;
}