:root {
	--p-calendar-panel-color: #495057;
	--p-calendar-panel-background: #ffffff;
	--p-calendar-panel-border-width: 1px;
	--p-calendar-panel-border-style: solid;
	--p-calendar-panel-border-color: #ced4da;
	--p-calendar-panel-padding-top: 0.5rem;
	--p-calendar-panel-padding-right: 0.5rem;
	--p-calendar-panel-padding-bottom: 0.5rem;
	--p-calendar-panel-padding-left: 0.5rem;
	--p-calendar-panel-popup-background: #ffffff;
	--p-calendar-panel-popup-border-width: 0;
	--p-calendar-panel-popup-border-style: none;
	--p-calendar-panel-popup-border-color: initial;
	--p-calendar-panel-popup-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
	--p-calendar-panel-popup-header-background: #ffffff;
	--p-calendar-panel-time-only-time-picker-border-width: 0;
	--p-calendar-panel-time-only-time-picker-border-style: none;
	--p-calendar-panel-time-only-time-picker-border-color: initial;
	--p-calendar-panel-multiple-month-group-border-width: ;
	--p-calendar-panel-multiple-month-group-border-style: ;
	--p-calendar-panel-multiple-month-group-border-color: ;
	--p-calendar-panel-multiple-month-group-padding-top: ;
	--p-calendar-panel-multiple-month-group-padding-right: ;
	--p-calendar-panel-multiple-month-group-padding-bottom: ;
	--p-calendar-panel-multiple-month-group-padding-left: ;
	--p-calendar-header-font-size: ;
	--p-calendar-header-font-weight: ;
	--p-calendar-header-color: ;
	--p-calendar-header-background: ;
	--p-calendar-header-border-width: ;
	--p-calendar-header-border-style: ;
	--p-calendar-header-border-color: ;
	--p-calendar-header-padding-top: ;
	--p-calendar-header-padding-right: ;
	--p-calendar-header-padding-bottom: ;
	--p-calendar-header-padding-left: ;
	--p-calendar-header-margin-top: ;
	--p-calendar-header-margin-right: ;
	--p-calendar-header-margin-bottom: ;
	--p-calendar-header-margin-left: ;
	--p-calendar-navigator-width: 2rem;
	--p-calendar-navigator-height: 2rem;
	--p-calendar-navigator-color: #6c757d;
	--p-calendar-navigator-background: transparent;
	--p-calendar-navigator-border-width: 0;
	--p-calendar-navigator-border-style: none;
	--p-calendar-navigator-border-color: initial;
	--p-calendar-navigator-border-radius: 50%;
	--p-calendar-navigator-hover-color: #343a40;
	--p-calendar-navigator-hover-background: #e9ecef;
	--p-calendar-navigator-hover-border-width: inherit;
	--p-calendar-navigator-hover-border-style: inherit;
	--p-calendar-navigator-hover-border-color: transparent;
	--p-calendar-navigator-focus-outline-color: var(--p-primary-light-color);
	--p-calendar-navigator-focus-outline-style: none;
	--p-calendar-navigator-focus-outline-width: 0;
	--p-calendar-navigator-focus-outline-offset: 0;
	--p-calendar-navigator-focus-box-shadow: 0 0 0 0.2rem var(--p-primary-light-color);
	--p-calendar-title-line-height: ;
	--p-calendar-view-font-size: ;
	--p-calendar-view-font-weight: ;
	--p-calendar-view-color: ;
	--p-calendar-view-padding-top: ;
	--p-calendar-view-padding-right: ;
	--p-calendar-view-padding-bottom: ;
	--p-calendar-view-padding-left: ;
	--p-calendar-view-hover-color: ;
	--p-calendar-table-font-size: ;
	--p-calendar-table-font-weight: ;
	--p-calendar-table-margin-top: ;
	--p-calendar-table-margin-right: ;
	--p-calendar-table-margin-bottom: ;
	--p-calendar-table-margin-left: ;
	--p-calendar-table-header-cell-padding-top: ;
	--p-calendar-table-header-cell-padding-right: ;
	--p-calendar-table-header-cell-padding-bottom: ;
	--p-calendar-table-header-cell-padding-left: ;
	--p-calendar-table-header-cell-label-width: ;
	--p-calendar-table-header-cell-label-height: ;
	--p-calendar-table-body-cell-padding-top: ;
	--p-calendar-table-body-cell-padding-right: ;
	--p-calendar-table-body-cell-padding-bottom: ;
	--p-calendar-table-body-cell-padding-left: ;
	--p-calendar-table-body-cell-hover-background: ;
	--p-calendar-table-body-cell-focus-outline-color: var(--p-primary-light-color);
	--p-calendar-table-body-cell-focus-outline-style: none;
	--p-calendar-table-body-cell-focus-outline-width: 0;
	--p-calendar-table-body-cell-focus-outline-offset: 0;
	--p-calendar-table-body-cell-focus-box-shadow: 0 0 0 0.2rem var(--p-primary-light-color);
	--p-calendar-table-body-cell-today-table-body-cell-label-color: ;
	--p-calendar-table-body-cell-today-table-body-cell-label-background: ;
	--p-calendar-table-body-cell-today-table-body-cell-label-border-width: ;
	--p-calendar-table-body-cell-today-table-body-cell-label-border-style: ;
	--p-calendar-table-body-cell-today-table-body-cell-label-border-color: ;
	--p-calendar-table-body-cell-today-table-body-cell-label-active-color: ;
	--p-calendar-table-body-cell-today-table-body-cell-label-active-background: ;
	--p-calendar-table-body-cell-label-width: ;
	--p-calendar-table-body-cell-label-height: ;
	--p-calendar-table-body-cell-label-border-width: ;
	--p-calendar-table-body-cell-label-border-style: ;
	--p-calendar-table-body-cell-label-border-color: ;
	--p-calendar-table-body-cell-label-border-radius: ;
	--p-calendar-table-body-cell-label-active-color: ;
	--p-calendar-table-body-cell-label-active-background: ;
	--p-calendar-table-body-cell-label-focus-outline-color: var(--p-primary-light-color);
	--p-calendar-table-body-cell-label-focus-outline-style: none;
	--p-calendar-table-body-cell-label-focus-outline-width: 0;
	--p-calendar-table-body-cell-label-focus-outline-offset: 0;
	--p-calendar-table-body-cell-label-focus-box-shadow: 0 0 0 0.2rem var(--p-primary-light-color);
	--p-calendar-button-bar-border-width: ;
	--p-calendar-button-bar-border-style: ;
	--p-calendar-button-bar-border-color: ;
	--p-calendar-button-bar-padding-top: ;
	--p-calendar-button-bar-padding-right: ;
	--p-calendar-button-bar-padding-bottom: ;
	--p-calendar-button-bar-padding-left: ;
	--p-calendar-time-picker-border-width: ;
	--p-calendar-time-picker-border-style: ;
	--p-calendar-time-picker-border-color: ;
	--p-calendar-time-picker-padding-top: ;
	--p-calendar-time-picker-padding-right: ;
	--p-calendar-time-picker-padding-bottom: ;
	--p-calendar-time-picker-padding-left: ;
	--p-calendar-time-picker-button-width: 2rem;
	--p-calendar-time-picker-button-height: 2rem;
	--p-calendar-time-picker-button-color: #6c757d;
	--p-calendar-time-picker-button-background: transparent;
	--p-calendar-time-picker-button-border-width: 0;
	--p-calendar-time-picker-button-border-style: none;
	--p-calendar-time-picker-button-border-color: initial;
	--p-calendar-time-picker-button-border-radius: 50%;
	--p-calendar-time-picker-button-hover-color: #343a40;
	--p-calendar-time-picker-button-hover-background: #e9ecef;
	--p-calendar-time-picker-button-hover-border-width: inherit;
	--p-calendar-time-picker-button-hover-border-style: inherit;
	--p-calendar-time-picker-button-hover-border-color: transparent;
	--p-calendar-time-picker-button-focus-outline-color: var(--p-primary-light-color);
	--p-calendar-time-picker-button-focus-outline-style: none;
	--p-calendar-time-picker-button-focus-outline-width: 0;
	--p-calendar-time-picker-button-focus-outline-offset: 0;
	--p-calendar-time-picker-button-focus-box-shadow: 0 0 0 0.2rem var(--p-primary-light-color);
	--p-calendar-time-picker-label-font-size: ;
	--p-calendar-time-picker-label-font-weight: ;
	--p-calendar-time-picker-container-padding-top: ;
	--p-calendar-time-picker-container-padding-right: ;
	--p-calendar-time-picker-container-padding-bottom: ;
	--p-calendar-time-picker-container-padding-left: ;
	--p-calendar-month-picker-margin-top: ;
	--p-calendar-month-picker-margin-right: ;
	--p-calendar-month-picker-margin-bottom: ;
	--p-calendar-month-picker-margin-left: ;
	--p-calendar-month-padding-top: ;
	--p-calendar-month-padding-right: ;
	--p-calendar-month-padding-bottom: ;
	--p-calendar-month-padding-left: ;
	--p-calendar-month-active-color: ;
	--p-calendar-month-active-background: ;
	--p-calendar-month-hover-background: ;
	--p-calendar-month-focus-outline-color: var(--p-primary-light-color);
	--p-calendar-month-focus-outline-style: none;
	--p-calendar-month-focus-outline-width: 0;
	--p-calendar-month-focus-outline-offset: 0;
	--p-calendar-month-focus-box-shadow: 0 0 0 0.2rem var(--p-primary-light-color);
	--p-calendar-year-picker-margin-top: ;
	--p-calendar-year-picker-margin-right: ;
	--p-calendar-year-picker-margin-bottom: ;
	--p-calendar-year-picker-margin-left: ;
	--p-calendar-year-padding-top: ;
	--p-calendar-year-padding-right: ;
	--p-calendar-year-padding-bottom: ;
	--p-calendar-year-padding-left: ;
	--p-calendar-year-active-color: ;
	--p-calendar-year-active-background: ;
	--p-calendar-invalid-input-border-width: inherit;
	--p-calendar-invalid-input-border-style: inherit;
	--p-calendar-invalid-input-border-color: #e24c4c;
}