.p-inputtextarea {
    &.p-variant {
        background-color: $inputFilledBg;
        
        &:enabled:hover {
            background-color: $inputFilledHoverBg;
        }
    
        &:enabled:focus {
            background-color: $inputFilledFocusBg;
        }
    }
}
