:root {
	--p-fileupload-buttonbar-color: #343a40;
	--p-fileupload-buttonbar-background: #f8f9fa;
	--p-fileupload-buttonbar-padding-top: 1.25rem;
	--p-fileupload-buttonbar-padding-right: 1.25rem;
	--p-fileupload-buttonbar-padding-bottom: 1.25rem;
	--p-fileupload-buttonbar-padding-left: 1.25rem;
	--p-fileupload-buttonbar-border-width: 1px;
	--p-fileupload-buttonbar-border-style: solid;
	--p-fileupload-buttonbar-border-color: #dee2e6;
	--p-fileupload-choose-button-focus-outline-color: var(--p-primary-light-color);
	--p-fileupload-choose-button-focus-outline-style: none;
	--p-fileupload-choose-button-focus-outline-width: 0;
	--p-fileupload-choose-button-focus-outline-offset: 0;
	--p-fileupload-choose-button-focus-box-shadow: 0 0 0 0.2rem var(--p-primary-light-color);
	--p-fileupload-choose-button-hover-color: var(--p-primary-text-color);
	--p-fileupload-choose-button-hover-background: var(--p-primary-dark-color);
	--p-fileupload-choose-button-hover-border-width: initial;
	--p-fileupload-choose-button-hover-border-style: initial;
	--p-fileupload-choose-button-hover-border-color: var(--p-primary-dark-color);
	--p-fileupload-choose-button-active-color: var(--p-primary-text-color);
	--p-fileupload-choose-button-active-background: var(--p-primary-darker-color);
	--p-fileupload-choose-button-active-border-width: initial;
	--p-fileupload-choose-button-active-border-style: initial;
	--p-fileupload-choose-button-active-border-color: var(--p-primary-darker-color);
	--p-fileupload-content-color: #495057;
	--p-fileupload-content-background: #ffffff;
	--p-fileupload-content-padding-top: 1.25rem;
	--p-fileupload-content-padding-right: 1.25rem;
	--p-fileupload-content-padding-bottom: 1.25rem;
	--p-fileupload-content-padding-left: 1.25rem;
	--p-fileupload-content-border-width: 1px;
	--p-fileupload-content-border-style: solid;
	--p-fileupload-content-border-color: #dee2e6;
	--p-fileupload-file-padding-top: 1rem;
	--p-fileupload-file-padding-right: 1rem;
	--p-fileupload-file-padding-bottom: 1rem;
	--p-fileupload-file-padding-left: 1rem;
	--p-fileupload-file-border-width: 1px;
	--p-fileupload-file-border-style: solid;
	--p-fileupload-file-border-color: #dee2e6;
	--p-fileupload-progressbar-height: 0.25rem;
}