.p-inline-message-text {
    font-weight: 500;
}

.p-message {
    border-radius: 10px;
}

.p-message.p-message-info {
    .p-message-close {
        &:focus-visible {
            outline-color: $infoMessageIconColor;
        }
    
        &:hover {
            background: #dbeafe;
        }
    }
}

.p-message.p-message-success {
    .p-message-close {
        &:focus-visible {
            outline-color: $successMessageIconColor;
        }
    
        &:hover {
            background: #dcfce7;
        }
    }
}

.p-message.p-message-warn {
    .p-message-close {
        &:focus-visible {
            outline-color: $warningMessageIconColor;
        }
    
        &:hover {
            background: #fef9c3;
        }
    }
}

.p-message.p-message-error {
    .p-message-close {
        &:focus-visible {
            outline-color: $errorMessageIconColor;
        }
    
        &:hover {
            background: #fef9c3;
        }
    }
}
