.p-multiselect-panel {    
    .p-multiselect-header {
        padding-left: 1rem;   
        padding-right: 1rem;
    }
}

.p-multiselect {
    box-shadow: $inputShadow;

    &.p-disabled {
        opacity: 1;
        background-color: $disabledInputBg;

        .p-multiselect-label {
            color: $textSecondaryColor;
        }
    }
}