.p-radiobutton {
    &:not(.p-disabled) {
        &:has(.p-radiobutton-input:focus-visible) {
            .p-radiobutton-box {
                outline-width: 1px;
                outline-offset: $focusOutlineOffset;
            }

            &.p-highlight {
                .p-radiobutton-box {
                    border-color: $checkboxActiveBg;
                }
            }
        }
    }
}