.p-toast {
    .p-toast-message {
        backdrop-filter: blur(1.5px);
        border-radius: 10px;

        .p-toast-message-content {
            .p-toast-detail {
                color: $textColor;
                font-size: .875rem;
            }
        }

        .p-toast-icon-close {
            width: 1.75rem;
            height: 1.75rem;
            margin-top: -25%;
            right: -25%;
            position: relative;
        }
    }
}

.p-toast {
    .p-toast-message.p-toast-message-info {
        .p-toast-icon-close {
            outline-color: $infoMessageIconColor;

            &:hover {
                background: #dbeafe;
            }
        }
    }

    .p-toast-message.p-toast-message-success {
        .p-toast-icon-close {
            outline-color: $successMessageIconColor;

            &:hover {
                background: #dcfce7;
            }
        }
    }

    .p-toast-message.p-toast-message-warn {
        .p-toast-icon-close {
            outline-color: $warningMessageIconColor;

            &:hover {
                background: #fef9c3;
            }
        }
    }

    .p-toast-message.p-toast-message-error {
        .p-toast-icon-close {
            outline-color: $errorMessageIconColor;

            &:hover {
                background: #fef9c3;
            }
        }
    }
}