.p-cascadeselect {
    .p-cascadeselect-label,
    .p-dropdown-trigger {
        background-image: none;
        background: transparent;
    }

    .p-cascadeselect-label {
        border: 0 none;
    }

    &:not(.p-disabled).p-focus {
        box-shadow: inset 0 0 0 1px $inputFocusBorderColor,
            inset 0 0 0 1px $inputFocusBorderColor,
            inset 0 0 0 1px $inputFocusBorderColor,
            inset 0 0 0 1px $inputFocusBorderColor;
    }

    &.p-variant-filled {
        @include filled-input-wrapper();
        
        .p-inputtext {
            border: 0 none;
        }
    
        .p-cascadeselect-label {
            &:hover {
                background-image: none;
                background: transparent;
            }
        }
    
        &.p-invalid {
            @include invalid-filled-input-wrapper();
        }
    }
}

.p-cascadeselect-item-content {
    .p-ink {
        background-color: rgba($primaryColor, 0.16);
    }
}

.p-cascadeselect.p-invalid {
    &:not(.p-disabled).p-focus {
        box-shadow: inset 0 0 0 1px $inputErrorBorderColor,
            inset 0 0 0 1px $inputErrorBorderColor,
            inset 0 0 0 1px $inputErrorBorderColor,
            inset 0 0 0 1px $inputErrorBorderColor;
    }
}
