.p-togglebutton.p-button {
    &:not(.p-disabled) {
        &:has(.p-togglebutton-input:focus-visible) {
            background: $toggleButtonActiveBg;
            border-color: $toggleButtonActiveBorderColor;

            &.p-highlight {
                background: $toggleButtonActiveHoverBg;
                border-color: $toggleButtonActiveHoverBorderColor;
            }
        }
    }
}