.p-inline-message {
    padding-top: var(--p-inline-message-padding-top);
    padding-right: var(--p-inline-message-padding-right);
    padding-bottom: var(--p-inline-message-padding-bottom);
    padding-left: var(--p-inline-message-padding-left);
    margin-top: var(--p-inline-message-margin-top);
    margin-right: var(--p-inline-message-margin-right);
    margin-bottom: var(--p-inline-message-margin-bottom);
    margin-left: var(--p-inline-message-margin-left);
    border-radius: var(--p-border-radius);

    &.p-inline-message-info {
        color: var(--p-inline-message-info-color);
        background: var(--p-inline-message-info-background);
        border-width: var(--p-inline-message-info-border-width);
        border-style: var(--p-inline-message-info-border-style);
        border-color: var(--p-inline-message-info-border-color);

        .p-inline-message-icon {
            color: var(--p-inline-message-info-icon-color);
        }
    }

    &.p-inline-message-success {
        color: var(--p-inline-message-success-color);
        background: var(--p-inline-message-success-background);
        border-width: var(--p-inline-message-success-border-width);
        border-style: var(--p-inline-message-success-border-style);
        border-color: var(--p-inline-message-success-border-color);

        .p-inline-message-icon {
            color: var(--p-inline-message-success-icon-color);
        }
    }

    &.p-inline-message-warn {
        color: var(--p-inline-message-warn-color);
        background: var(--p-inline-message-warn-background);
        border-width: var(--p-inline-message-warn-border-width);
        border-style: var(--p-inline-message-warn-border-style);
        border-color: var(--p-inline-message-warn-border-color);

        .p-inline-message-icon {
            color: var(--p-inline-message-warn-icon-color);
        }
    }

    &.p-inline-message-error {
        color: var(--p-inline-message-error-color);
        background: var(--p-inline-message-error-background);
        border-width: var(--p-inline-message-error-border-width);
        border-style: var(--p-inline-message-error-border-style);
        border-color: var(--p-inline-message-error-border-color);

        .p-inline-message-icon {
            color: var(--p-inline-message-error-icon-color);
        }
    }

    .p-inline-message-icon {
        font-size: var(--p-font-size);
        margin-right: var(--p-inline-spacing);
    }

    .p-inline-message-text {
        font-size: var(--p-font-size);
    }

    &.p-inline-message-icon-only {
        .p-inline-message-icon {
            margin-right: 0;
        }
    }
}
