.p-message {
    margin-top: var(--p-message-margin-top);
    margin-right: var(--p-message-margin-right);
    margin-bottom: var(--p-message-margin-bottom);
    margin-left: var(--p-message-margin-left);
    border-radius: var(--p-border-radius);

    .p-message-wrapper {
        padding-top: var(--p-message-padding-top);
        padding-right: var(--p-message-padding-right);
        padding-bottom: var(--p-message-padding-bottom);
        padding-left: var(--p-message-padding-left);
    }

    .p-message-close {
        width: var(--p-message-close-icon-width);
        height: var(--p-message-close-icon-height);
        background: var(--p-message-close-icon-background);
        border-width: var(--p-message-close-icon-border-width);
        border-style: var(--p-message-close-icon-border-style);
        border-color: var(--p-message-close-icon-border-color);
        border-radius: var(--p-message-close-icon-border-radius);
        transition-duration: var(--p-transition-duration);
        transition-property: var(--p-transition-property);

        &:hover {
            background: var(--p-message-close-icon-hover-background);
        }

        &:focus {
            outline-color: var(--p-message-close-icon-focus-outline-color);
            outline-style: var(--p-message-close-icon-focus-outline-style);
            outline-width: var(--p-message-close-icon-focus-outline-width);
            outline-offset: var(--p-message-close-icon-focus-outline-offset);
            box-shadow: var(--p-message-close-icon-focus-box-shadow);
        }
    }

    &.p-message-info {
        color: var(--p-message-info-color);
        background: var(--p-message-info-background);
        border-width: var(--p-message-info-border-width);
        border-style: var(--p-message-info-border-style);
        border-color: var(--p-message-info-border-color);

        .p-message-icon {
            color: var(--p-message-info-icon-color);
        }

        .p-message-close {
            color: var(--p-message-info-icon-color);
        }
    }

    &.p-message-success {
        color: var(--p-message-success-color);
        background: var(--p-message-success-background);
        border-width: var(--p-message-success-border-width);
        border-style: var(--p-message-success-border-style);
        border-color: var(--p-message-success-border-color);

        .p-message-icon {
            color: var(--p-message-success-icon-color);
        }

        .p-message-close {
            color: var(--p-message-success-icon-color);
        }
    }

    &.p-message-warn {
        color: var(--p-message-warn-color);
        background: var(--p-message-warn-background);
        border-width: var(--p-message-warn-border-width);
        border-style: var(--p-message-warn-border-style);
        border-color: var(--p-message-warn-border-color);

        .p-message-icon {
            color: var(--p-message-warn-icon-color);
        }

        .p-message-close {
            color: var(--p-message-warn-icon-color);
        }
    }

    &.p-message-error {
        color: var(--p-message-error-color);
        background: var(--p-message-error-background);
        border-width: var(--p-message-error-border-width);
        border-style: var(--p-message-error-border-style);
        border-color: var(--p-message-error-border-color);

        .p-message-icon {
            color: var(--p-message-error-icon-color);
        }

        .p-message-close {
            color: var(--p-message-error-icon-color);
        }
    }

    .p-message-text {
        font-size: var(--p-message-text-font-size);
        font-weight: var(--p-message-text-font-weight);
    }

    .p-message-icon {
        font-size: calc(var(--p-font-size) * 1.5rem);
        margin-right: var(--p-inline-spacing);
    }

    .p-icon:not(.p-message-close-icon) {
        width: calc(var(--p-font-size) * 1.5rem);
        height: calc(var(--p-font-size) * 1.5rem);
    }
}
