.p-image-mask {
    /*--maskbg: #{$imageMaskBg};*/
    --p-mask-background: var(--p-image-mask-background);
}

.p-image-preview-indicator {
    color: var(--p-image-button-color);
    background: var(--p-image-button-background);
    transition-duration: var(--p-transition-duration);
    transition-property: var(--p-transition-property);

    .p-icon {
        width: calc(var(--p-font-size) * 1.5rem);
        height: calc(var(--p-font-size) * 1.5rem);
    }
}

.p-image-preview-container {
    &:hover {
        > .p-image-preview-indicator {
            background: var(--p-image-button-hover-background);
        }
    }
}

.p-image-toolbar {
    padding-top: var(--p-image-preview-toolbar-padding-top);
    padding-right: var(--p-image-preview-toolbar-padding-right);
    padding-bottom: var(--p-image-preview-toolbar-padding-bottom);
    padding-left: var(--p-image-preview-toolbar-padding-left);
}

.p-image-action.p-link {
    width: var(--p-image-action-width);
    height: var(--p-image-action-height);
    color: var(--p-image-action-color);
    background: var(--p-image-action-background);
    border-width: var(--p-image-action-border-width);
    border-style: var(--p-image-action-border-style);
    border-color: var(--p-image-action-border-color);
    border-radius: var(--p-image-action-border-radius);
    transition-duration: var(--p-transition-duration);
    transition-property: var(--p-transition-property);
    margin-right: var(--p-inline-spacing);

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        color: var(--p-image-action-hover-color);
        background: var(--p-image-action-hover-background);
    }

    i {
        font-size: calc(var(--p-font-size) * 1.5rem);
    }

    .p-icon {
        width: calc(var(--p-font-size) * 1.5rem);
        height: calc(var(--p-font-size) * 1.5rem);
    }
}
