:root {
	--p-confirm-popup-color: #495057;
	--p-confirm-popup-background: #ffffff;
	--p-confirm-popup-border-width: 1px;
	--p-confirm-popup-border-style: solid;
	--p-confirm-popup-border-color: #dee2e6;
	--p-confirm-popup-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	--p-confirm-popup-content-padding-top: 1.25rem;
	--p-confirm-popup-content-padding-right: 1.25rem;
	--p-confirm-popup-content-padding-bottom: 1.25rem;
	--p-confirm-popup-content-padding-left: 1.25rem;
	--p-confirm-popup-footer-padding-top: 0;
	--p-confirm-popup-footer-padding-right: 1.25rem;
	--p-confirm-popup-footer-padding-bottom: 1.25rem;
	--p-confirm-popup-footer-padding-left: 1.25rem;
	--p-confirm-popup-tip-border-width: initial;
	--p-confirm-popup-tip-border-style: solid;
	--p-confirm-popup-tip-border-color: #dee2e6;
}