:root {
	--p-dialog-border-width: 0;
	--p-dialog-border-style: none;
	--p-dialog-border-color: initial;
	--p-dialog-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	--p-dialog-header-color: #343a40;
	--p-dialog-header-background: #ffffff;
	--p-dialog-header-padding-top: 1.5rem;
	--p-dialog-header-padding-right: 1.5rem;
	--p-dialog-header-padding-bottom: 1.5rem;
	--p-dialog-header-padding-left: 1.5rem;
	--p-dialog-header-border-width: 0;
	--p-dialog-header-border-style: none;
	--p-dialog-header-border-color: initial;
	--p-dialog-header-title-font-size: 1.25rem;
	--p-dialog-header-title-font-weight: 700;
	--p-dialog-header-icon-width: 2rem;
	--p-dialog-header-icon-height: 2rem;
	--p-dialog-header-icon-color: #6c757d;
	--p-dialog-header-icon-background: transparent;
	--p-dialog-header-icon-border-width: 0;
	--p-dialog-header-icon-border-style: none;
	--p-dialog-header-icon-border-color: initial;
	--p-dialog-header-icon-border-radius: 50%;
	--p-dialog-header-icon-hover-color: #343a40;
	--p-dialog-header-icon-hover-background: #e9ecef;
	--p-dialog-header-icon-hover-border-width: inherit;
	--p-dialog-header-icon-hover-border-style: inherit;
	--p-dialog-header-icon-hover-border-color: transparent;
	--p-dialog-header-icon-focus-outline-color: var(--p-primary-light-color);
	--p-dialog-header-icon-focus-outline-style: none;
	--p-dialog-header-icon-focus-outline-width: 0;
	--p-dialog-header-icon-focus-outline-offset: 0;
	--p-dialog-header-icon-focus-box-shadow: 0 0 0 0.2rem var(--p-primary-light-color);
	--p-dialog-content-color: #495057;
	--p-dialog-content-background: #ffffff;
	--p-dialog-content-border-width: 1px;
	--p-dialog-content-border-style: solid;
	--p-dialog-content-border-color: #dee2e6;
	--p-dialog-content-padding-top: 0;
	--p-dialog-content-padding-right: 1.5rem;
	--p-dialog-content-padding-bottom: 2rem;
	--p-dialog-content-padding-left: 1.5rem;
	--p-dialog-footer-color: #495057;
	--p-dialog-footer-background: #ffffff;
	--p-dialog-footer-padding-top: 0;
	--p-dialog-footer-padding-right: 1.5rem;
	--p-dialog-footer-padding-bottom: 1.5rem;
	--p-dialog-footer-padding-left: 1.5rem;
	--p-dialog-footer-border-width: 1px 0 0 0;
	--p-dialog-footer-border-style: solid;
	--p-dialog-footer-border-color: #dee2e6;
}