:root {
	--p-sidebar-color: #495057;
	--p-sidebar-background: #ffffff;
	--p-sidebar-border-width: 0;
	--p-sidebar-border-style: none;
	--p-sidebar-border-color: initial;
	--p-sidebar-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	--p-sidebar-header-padding-top: 1.25rem;
	--p-sidebar-header-padding-right: 1.25rem;
	--p-sidebar-header-padding-bottom: 1.25rem;
	--p-sidebar-header-padding-left: 1.25rem;
	--p-sidebar-content-padding-top: 1.25rem;
	--p-sidebar-content-padding-right: 1.25rem;
	--p-sidebar-content-padding-bottom: 1.25rem;
	--p-sidebar-content-padding-left: 1.25rem;
	--p-sidebar-icon-container-width: 2rem;
	--p-sidebar-icon-container-height: 2rem;
	--p-sidebar-icon-container-color: #6c757d;
	--p-sidebar-icon-container-background: transparent;
	--p-sidebar-icon-container-border-width: 0;
	--p-sidebar-icon-container-border-style: none;
	--p-sidebar-icon-container-border-color: initial;
	--p-sidebar-icon-container-border-radius: 50%;
	--p-sidebar-icon-container-hover-color: #343a40;
	--p-sidebar-icon-container-hover-background: #e9ecef;
	--p-sidebar-icon-container-hover-border-width: initial;
	--p-sidebar-icon-container-hover-border-style: initial;
	--p-sidebar-icon-container-hover-border-color: transparent;
	--p-sidebar-icon-container-focus-outline-color: var(--p-primary-light-color);
	--p-sidebar-icon-container-focus-outline-style: none;
	--p-sidebar-icon-container-focus-outline-width: 0;
	--p-sidebar-icon-container-focus-outline-offset: 0;
	--p-sidebar-icon-container-focus-box-shadow: 0 0 0 0.2rem var(--p-primary-light-color);
}