.p-avatar {
    color: var(--p-avatar-color);
    background: var(--p-avatar-background);
    border-radius: var(--p-border-radius);

    &.p-avatar-lg {
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;

        .p-avatar-icon {
            font-size: 1.5rem;
        }
    }

    &.p-avatar-xl {
        width: 4rem;
        height: 4rem;
        font-size: 2rem;

        .p-avatar-icon {
            font-size: 2rem;
        }
    }
}

.p-avatar-group {
    .p-avatar {
        border-width: var(--p-avatar-in-group-border-width);
        border-style: var(--p-avatar-in-group-border-style);
        border-color: var(--p-avatar-in-group-border-color);
    }
}
