.p-badge {
    font-size: var(--p-badge-font-size);
    font-weight: var(--p-badge-font-weight);
    min-width: var(--p-badge-min-width);
    height: var(--p-badge-height);
    line-height: var(--p-badge-line-height);
    color: var(--p-badge-color);
    background: var(--p-badge-background);

    &.p-badge-secondary {
        color: var(--p-badge-secondary-color);
        background: var(--p-badge-secondary-background);
    }

    &.p-badge-success {
        color: var(--p-badge-success-color);
        background: var(--p-badge-success-background);
    }

    &.p-badge-info {
        color: var(--p-badge-info-color);
        background: var(--p-badge-info-background);
    }

    &.p-badge-warning {
        color: var(--p-badge-warning-color);
        background: var(--p-badge-warning-background);
    }

    &.p-badge-danger {
        color: var(--p-badge-danger-color);
        background: var(--p-badge-danger-background);
    }

    &.p-badge-lg {
        font-size: calc(1.5 * var(--p-badge-font-size));
        min-width: calc(1.5 * var(--p-badge-min-width));
        height: calc(1.5 * var(--p-badge-height));
        line-height: calc(1.5 * var(--p-badge-line-height));
    }

    &.p-badge-xl {
        font-size: calc(2 * var(--p-badge-font-size));
        min-width: calc(2 * var(--p-badge-min-width));
        height: calc(2 * var(--p-badge-height));
        line-height: calc(2 * var(--p-badge-line-height));
    }
}
