.p-chip {
    color: var(--p-chip-color);
    background: var(--p-chip-background);
    padding-top: var(--p-chip-padding-top);
    padding-right: var(--p-chip-padding-right);
    padding-bottom: var(--p-chip-padding-bottom);
    padding-left: var(--p-chip-padding-left);
    border-width: var(--p-chip-border-width);
    border-style: var(--p-chip-border-style);
    border-color: var(--p-chip-border-color);
    border-radius: var(--p-chip-border-radius);

    .p-chip-text {
        line-height: 1.5;
        margin-top: calc(var(--p-chip-padding-top) / 2);
        margin-bottom: calc(var(--p-chip-padding-bottom) / 2);
    }

    .p-chip-icon {
        margin-right: var(--p-inline-spacing);
    }

    img {
        width: calc(1.5rem + var(--p-chip-padding-top));
        height: calc(1.5rem + var(--p-chip-padding-top));
        margin-left: calc(-1 * var(--p-chip-padding-left));
        margin-right: var(--p-inline-spacing);
    }

    .p-chip-remove-icon {
        margin-left: var(--p-inline-spacing);
        border-radius: var(--p-border-radius);
        transition-duration: var(--p-transition-duration);
        transition-property: var(--p-transition-property);

        &:focus {
            outline-color: var(--p-chip-remove-icon-focus-outline-color);
            outline-style: var(--p-chip-remove-icon-focus-outline-style);
            outline-width: var(--p-chip-remove-icon-focus-outline-width);
            outline-offset: var(--p-chip-remove-icon-focus-outline-offset);
            box-shadow: var(--p-chip-remove-icon-focus-box-shadow);
        }
    }
}
