:root {
	--p-message-margin-top: 1rem;
	--p-message-margin-right: 0;
	--p-message-margin-bottom: 1rem;
	--p-message-margin-left: 0;
	--p-message-wrapper-padding-top: 1.25rem;
	--p-message-wrapper-padding-right: 1.75rem;
	--p-message-wrapper-padding-bottom: 1.25rem;
	--p-message-wrapper-padding-left: 1.75rem;
	--p-message-text-font-size: 1rem;
	--p-message-text-font-weight: 400;
	--p-message-close-icon-width: 2rem;
	--p-message-close-icon-height: 2rem;
	--p-message-close-icon-background: transparent;
	--p-message-close-icon-border-width: 0;
	--p-message-close-icon-border-style: none;
	--p-message-close-icon-border-color: initial;
	--p-message-close-icon-border-radius: 50%;
	--p-message-close-icon-hover-background: rgba(255, 255, 255, 0.3);
	--p-message-close-icon-focus-outline-color: var(--p-primary-light-color);
	--p-message-close-icon-focus-outline-style: none;
	--p-message-close-icon-focus-outline-width: 0;
	--p-message-close-icon-focus-outline-offset: 0;
	--p-message-close-icon-focus-box-shadow: 0 0 0 0.2rem var(--p-primary-light-color);
	--p-message-info-color: #696cff;
	--p-message-info-background: #e9e9ff;
	--p-message-info-border-width: 0 0 0 6px;
	--p-message-info-border-style: solid;
	--p-message-info-border-color: #696cff;
	--p-message-info-icon-color: #696cff;
	--p-message-success-color: #1ea97c;
	--p-message-success-background: #e4f8f0;
	--p-message-success-border-width: 0 0 0 6px;
	--p-message-success-border-style: solid;
	--p-message-success-border-color: #1ea97c;
	--p-message-success-icon-color: #1ea97c;
	--p-message-warn-color: #cc8925;
	--p-message-warn-background: #fff2e2;
	--p-message-warn-border-width: 0 0 0 6px;
	--p-message-warn-border-style: solid;
	--p-message-warn-border-color: #cc8925;
	--p-message-warn-icon-color: #cc8925;
	--p-message-error-color: #ff5757;
	--p-message-error-background: #ffe7e6;
	--p-message-error-border-width: 0 0 0 6px;
	--p-message-error-border-style: solid;
	--p-message-error-border-color: #ff5757;
	--p-message-error-icon-color: #ff5757;
}