:root {
	--p-toast-opacity: 0.9;
	--p-toast-message-margin-top: 0;
	--p-toast-message-margin-right: 0;
	--p-toast-message-margin-bottom: 1rem;
	--p-toast-message-margin-left: 0;
	--p-toast-message-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
	--p-toast-content-padding-top: 1rem;
	--p-toast-content-padding-right: 1rem;
	--p-toast-content-padding-bottom: 1rem;
	--p-toast-content-padding-left: 1rem;
	--p-toast-content-border-width: 0 0 0 6px;
	--p-toast-content-border-style: initial;
	--p-toast-content-border-color: initial;
	--p-toast-text-margin-top: 0;
	--p-toast-text-margin-right: 0;
	--p-toast-text-margin-bottom: 0;
	--p-toast-text-margin-left: 1rem;
	--p-toast-summary-font-size: 1rem;
	--p-toast-summary-font-weight: 700;
	--p-toast-detail-margin-top: var(--p-inline-spacing);
	--p-toast-detail-margin-right: 0;
	--p-toast-detail-margin-bottom: 0;
	--p-toast-detail-margin-left: 0;
	--p-toast-close-icon-width: 2rem;
	--p-toast-close-icon-height: 2rem;
	--p-toast-close-icon-background: transparent;
	--p-toast-close-icon-border-width: initial;
	--p-toast-close-icon-border-style: initial;
	--p-toast-close-icon-border-color: initial;
	--p-toast-close-icon-border-radius: 50%;
	--p-toast-close-icon-hover-background: rgba(255, 255, 255, 0.3);
	--p-toast-close-icon-focus-outline-color: var(--p-primary-light-color);
	--p-toast-close-icon-focus-outline-style: none;
	--p-toast-close-icon-focus-outline-width: 0;
	--p-toast-close-icon-focus-outline-offset: 0;
	--p-toast-close-icon-focus-box-shadow: 0 0 0 0.2rem var(--p-primary-light-color);
	--p-toast-message-info-color: #696cff;
	--p-toast-message-info-background: #e9e9ff;
	--p-toast-message-info-border-width: 0 0 0 6px;
	--p-toast-message-info-border-style: solid;
	--p-toast-message-info-border-color: #696cff;
	--p-toast-message-info-icon-color: #696cff;
	--p-toast-message-success-color: #1ea97c;
	--p-toast-message-success-background: #e4f8f0;
	--p-toast-message-success-border-width: 0 0 0 6px;
	--p-toast-message-success-border-style: solid;
	--p-toast-message-success-border-color: #1ea97c;
	--p-toast-message-success-icon-color: #1ea97c;
	--p-toast-message-warn-color: #cc8925;
	--p-toast-message-warn-background: #fff2e2;
	--p-toast-message-warn-border-width: 0 0 0 6px;
	--p-toast-message-warn-border-style: solid;
	--p-toast-message-warn-border-color: #cc8925;
	--p-toast-message-warn-icon-color: #cc8925;
	--p-toast-message-error-color: #ff5757;
	--p-toast-message-error-background: #ffe7e6;
	--p-toast-message-error-border-width: 0 0 0 6px;
	--p-toast-message-error-border-style: solid;
	--p-toast-message-error-border-color: #ff5757;
	--p-toast-message-error-icon-color: #ff5757;
}