$primaryColor: #a78bfa !default;
$primaryLightColor: rgba(139, 92, 246, .2) !default;
$primaryDarkColor: #8b5cf6 !default;
$primaryDarkerColor: #7c3aed!default;
$primaryTextColor: #030712 !default;

$highlightBg:rgba(196, 181, 253, .16) !default;
$highlightTextColor: rgba(255,255,255,.87) !default;
$highlightFocusBg: rgba($primaryColor, .24) !default;

@import '../_variables';
@import './_fonts';
@import '../../../../theme-base/_components';
@import '../_extensions';