.p-confirm-popup {
    color: $confirmPopupColor;
    background: $confirmPopupBackground;
    border-width: $confirmPopupBorderWidth;
    border-style: $confirmPopupBorderStyle;
    border-color: $confirmPopupBorderColor;
    border-radius: $borderRadius;
    box-shadow: $confirmPopupBoxShadow;

    .p-confirm-popup-content {
        padding-top: $confirmPopupContentPaddingTop;
        padding-right: $confirmPopupContentPaddingRight;
        padding-bottom: $confirmPopupContentPaddingBottom;
        padding-left: $confirmPopupContentPaddingLeft;
    }

    .p-confirm-popup-footer {
        padding-top: $confirmPopupFooterPaddingTop;
        padding-right: $confirmPopupFooterPaddingRight;
        padding-bottom: $confirmPopupFooterPaddingBottom;
        padding-left: $confirmPopupFooterPaddingLeft;
        text-align: right;

        button {
            margin: 0 $inlineSpacing 0 0;
            width: auto;

            &:last-child {
                margin: 0;
            }
        }
    }

    &:after {
        border-width: $confirmPopupTipBorderWidth;
        border-style: $confirmPopupTipBorderStyle;
        border-color: transparent;
        border-bottom-color: $confirmPopupBackground;
    }

    &:before {
        border-width: $confirmPopupTipBorderWidth;
        border-style: $confirmPopupTipBorderStyle;
        border-color: transparent;
        border-bottom-color: $confirmPopupTipBorderColor;
    }

    &.p-confirm-popup-flipped {
        &:after {
            border-top-color: $confirmPopupBackground;
        }

        &:before {
            border-top-color: $confirmPopupTipBorderColor;
        }
    }

    .p-confirm-popup-icon {
        // @todo font-size: $primeIconFontSize * 1.5;
        font-size: $fontSize * 1.5;

        &.p-icon {
            width: $fontSize * 1.5;
            height: $fontSize * 1.5;
        }
    }

    .p-confirm-popup-message {
        margin-left: $inlineSpacing * 2;
    }
}
