.p-confirm-popup {
    color: var(--p-confirm-popup-color);
    background: var(--p-confirm-popup-background);
    border-width: var(--p-confirm-popup-border-width);
    border-style: var(--p-confirm-popup-border-style);
    border-color: var(--p-confirm-popup-border-color);
    border-radius: var(--p-border-radius);
    box-shadow: var(--p-confirm-popup-box-shadow);

    .p-confirm-popup-content {
        padding-top: var(--p-confirm-popup-content-padding-top);
        padding-right: var(--p-confirm-popup-content-padding-right);
        padding-bottom: var(--p-confirm-popup-content-padding-bottom);
        padding-left: var(--p-confirm-popup-content-padding-left);
    }

    .p-confirm-popup-footer {
        padding-top: var(--p-confirm-popup-footer-padding-top);
        padding-right: var(--p-confirm-popup-footer-padding-right);
        padding-bottom: var(--p-confirm-popup-footer-padding-bottom);
        padding-left: var(--p-confirm-popup-footer-padding-left);
        text-align: right;

        button {
            margin: 0 var(--p-inline-spacing) 0 0;
            width: auto;

            &:last-child {
                margin: 0;
            }
        }
    }

    &:after {
        border-width: var(--p-confirm-popup-tip-border-width);
        border-style: var(--p-confirm-popup-tip-border-style);
        border-color: transparent;
        border-bottom-color: var(--p-confirm-popup-background);
    }

    &:before {
        border-width: var(--p-confirm-popup-tip-border-width);
        border-style: var(--p-confirm-popup-tip-border-style);
        border-color: transparent;
        border-bottom-color: var(--p-confirm-popup-tip-border-color);
    }

    &.p-confirm-popup-flipped {
        &:after {
            border-top-color: var(--p-confirm-popup-background);
        }

        &:before {
            border-top-color: var(--p-confirm-popup-tip-border-color);
        }
    }

    .p-confirm-popup-icon {
        // @todo font-size: var(--p-primeIconFontSize * 1.5);
        font-size: calc(var(--p-font-size) * 1.5);

        &.p-icon {
            width: calc(var(--p-font-size) * 1.5);
            height: calc(var(--p-font-size) * 1.5);
        }
    }

    .p-confirm-popup-message {
        margin-left: calc(var(--p-inline-spacing) * 2);
    }
}
