.p-dialog {
    border-radius: $borderRadius;
    box-shadow: $overlayContainerShadow;
    border: $overlayContentBorder;

    .p-dialog-header {
        border-bottom: $dialogHeaderBorder;
        background: $dialogHeaderBg;
        color: $dialogHeaderTextColor;
        padding: $dialogHeaderPadding;
        border-top-right-radius: $borderRadius;
        border-top-left-radius: $borderRadius;

        .p-dialog-title {
            font-weight: $dialogHeaderFontWeight;
            font-size: $dialogHeaderFontSize;
        }

        .p-dialog-header-icon {
            width: $dialogHeaderIconWidth;
            height: $dialogHeaderIconHeight;
            color: $dialogHeaderIconColor;
            background: $dialogHeaderIconBackground;
            border-width: $dialogHeaderIconBorderWidth;
            border-style: $dialogHeaderIconBorderStyle;
            border-color: $dialogHeaderIconBorderColor;
            border-radius: $dialogHeaderIconBorderRadius;
            transition-duration: $transitionDuration;
            transition-property: $transitionProperty;
            margin-right: $inlineSpacing;

            &:enabled:hover {
                color: $dialogHeaderIconHoverColor;
                background: $dialogHeaderIconHoverBackground;
                border-width: $dialogHeaderIconHoverBorderWidth;
                border-style: $dialogHeaderIconHoverBorderStyle;
                border-color: $dialogHeaderIconHoverBorderColor;
            }

            &:focus {
                outline-color: $dialogHeaderIconFocusOutlineColor;
                outline-style: $dialogHeaderIconFocusOutlineStyle;
                outline-width: $dialogHeaderIconFocusOutlineWidth;
                outline-offset: $dialogHeaderIconFocusOutlineOffset;
                box-shadow: $dialogHeaderIconFocusBoxShadow;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .p-dialog-content {
        color: $dialogContentColor;
        background: $dialogContentBackground;
        padding-top: $dialogContentPaddingTop;
        padding-right: $dialogContentPaddingRight;
        padding-bottom: $dialogContentPaddingBottom;
        padding-left: $dialogContentPaddingLeft;
        border-width: $dialogContentBorderWidth;
        border-style: $dialogContentBorderStyle;
        border-color: $dialogContentBorderColor;

        &:last-child {
            border-bottom-right-radius: $borderRadius;
            border-bottom-left-radius: $borderRadius;
        }
    }

    .p-dialog-footer {
        color: $dialogFooterColor;
        background: $dialogFooterBackground;
        padding-top: $dialogFooterPaddingTop;
        padding-right: $dialogFooterPaddingRight;
        padding-bottom: $dialogFooterPaddingBottom;
        padding-left: $dialogFooterPaddingLeft;
        border-width: $dialogFooterBorderWidth;
        border-style: $dialogFooterBorderStyle;
        border-color: $dialogFooterBorderColor;
        border-bottom-right-radius: $borderRadius;
        border-bottom-left-radius: $borderRadius;
        text-align: right;

        button {
            margin: 0 $inlineSpacing 0 0;
            width: auto;
        }
    }

    &.p-confirm-dialog {
        .p-confirm-dialog-icon {
            // @todo $primeIconFontSize
            font-size: $fontSize * 2;
        }

        .p-confirm-dialog-message:not(:first-child) {
            margin-left: $inlineSpacing * 2;
        }
    }
}
