.p-tooltip {
    .p-tooltip-text {
        color: var(--p-tooltip-color);
        background: var(--p-tooltip-background);
        padding-top: var(--p-tooltip-padding-top);
        padding-right: var(--p-tooltip-padding-right);
        padding-bottom: var(--p-tooltip-padding-bottom);
        border-radius: var(--p-border-radius);
        box-shadow: var(--p-tooltip-box-shadow);
    }

    &.p-tooltip-right {
        .p-tooltip-arrow {
            border-right-color: var(--p-tooltip-background);
        }
    }

    &.p-tooltip-left {
        .p-tooltip-arrow {
            border-left-color: var(--p-tooltip-background);
        }
    }

    &.p-tooltip-top {
        .p-tooltip-arrow {
            border-top-color: var(--p-tooltip-background);
        }
    }

    &.p-tooltip-bottom {
        .p-tooltip-arrow {
            border-bottom-color: var(--p-tooltip-background);
        }
    }
}
