$primaryColor: #818cf8 !default;
$primaryLightColor: rgba(129, 140, 248, .2) !default;
$primaryDarkColor: #6366f1 !default;
$primaryDarkerColor: #4f46e5 !default;
$primaryTextColor: #ffffff !default;

$highlightBg:rgba(165, 180, 252, .16) !default;
$highlightTextColor: rgba(255,255,255,.87) !default;
$highlightFocusBg: rgba($primaryColor, .24) !default;

@import '../_variables';
@import './_fonts';
@import '../../../../theme-base/_components';
@import '../_extensions';