:root {
	--p-galleria-close-button-width: 4rem;
	--p-galleria-close-button-height: 4rem;
	--p-galleria-close-button-color: #f8f9fa;
	--p-galleria-close-button-background: transparent;
	--p-galleria-close-button-margin-top: 0.5rem;
	--p-galleria-close-button-margin-right: 0.5rem;
	--p-galleria-close-button-margin-bottom: 0.5rem;
	--p-galleria-close-button-margin-left: 0.5rem;
	--p-galleria-close-button-border-width: initial;
	--p-galleria-close-button-border-style: initial;
	--p-galleria-close-button-border-type: initial;
	--p-galleria-close-button-border-radius: 50%;
	--p-galleria-close-button-hover-color: #f8f9fa;
	--p-galleria-close-button-hover-background: rgba(255, 255, 255, 0.1);
	--p-galleria-item-navigator-width: 4rem;
	--p-galleria-item-navigator-height: 4rem;
	--p-galleria-item-navigator-color: #f8f9fa;
	--p-galleria-item-navigator-background: transparent;
	--p-galleria-item-navigator-margin-top: 0;
	--p-galleria-item-navigator-margin-right: 0.5rem;
	--p-galleria-item-navigator-margin-bottom: 0;
	--p-galleria-item-navigator-margin-left: 0.5rem;
	--p-galleria-item-navigator-hover-color: #f8f9fa;
	--p-galleria-item-navigator-hover-background: rgba(255, 255, 255, 0.1);
	--p-galleria-caption-color: #f8f9fa;
	--p-galleria-caption-background: rgba(0, 0, 0, 0.5);
	--p-galleria-caption-padding-top: 1rem;
	--p-galleria-caption-padding-right: 1rem;
	--p-galleria-caption-padding-bottom: 1rem;
	--p-galleria-caption-padding-left: 1rem;
	--p-galleria-indicators-padding-top: 1rem;
	--p-galleria-indicators-padding-right: 1rem;
	--p-galleria-indicators-padding-bottom: 1rem;
	--p-galleria-indicators-padding-left: 1rem;
	--p-galleria-indicator-button-width: 1rem;
	--p-galleria-indicator-button-height: 1rem;
	--p-galleria-indicator-button-background: #ced4da;
	--p-galleria-indicator-button-border-width: initial;
	--p-galleria-indicator-button-border-style: initial;
	--p-galleria-indicator-button-border-color: initial;
	--p-galleria-indicator-button-border-radius: 50%;
	--p-galleria-indicator-button-hover-background: #adb5bd;
	--p-galleria-indicator-button-active-color: var(--p-primary-darker-color);
	--p-galleria-indicator-button-active-background: #eff6ff;
	--p-galleria-indicator-on-item-indicators-background: rgba(0, 0, 0, 0.5);
	--p-galleria-indicator-on-item-indicator-button-background: rgba(255, 255, 255, 0.4);
	--p-galleria-indicator-on-item-indicator-button-hover-background: rgba(255, 255, 255, 0.6);
	--p-galleria-indicator-on-item-indicator-button-active-color: var(--p-primary-darker-color);
	--p-galleria-indicator-on-item-indicator-button-active-background: #eff6ff;
	--p-galleria-thumbnail-container-background: rgba(0, 0, 0, 0.9);
	--p-galleria-thumbnail-container-padding-top: 1rem;
	--p-galleria-thumbnail-container-padding-right: 0.25rem;
	--p-galleria-thumbnail-container-padding-bottom: 1rem;
	--p-galleria-thumbnail-container-padding-left: 0.25rem;
	--p-galleria-thumbnail-navigator-width: 2rem;
	--p-galleria-thumbnail-navigator-height: 2rem;
	--p-galleria-thumbnail-navigator-color: #f8f9fa;
	--p-galleria-thumbnail-navigator-background: transparent;
	--p-galleria-thumbnail-navigator-border-width: initial;
	--p-galleria-thumbnail-navigator-border-style: initial;
	--p-galleria-thumbnail-navigator-border-color: initial;
	--p-galleria-thumbnail-navigator-border-radius: 50%;
	--p-galleria-thumbnail-navigator-hover-color: #f8f9fa;
	--p-galleria-thumbnail-navigator-hover-background: rgba(255, 255, 255, 0.1);
	--p-galleria-thumbnail-item-content-focus-outline-color: var(--p-primary-light-color);
	--p-galleria-thumbnail-item-content-focus-outline-style: none;
	--p-galleria-thumbnail-item-content-focus-outline-width: 0;
	--p-galleria-thumbnail-item-content-focus-outline-offset: 0;
	--p-galleria-thumbnail-item-content-focus-box-shadow: 0 0 0 0.2rem var(--p-primary-light-color);
	--p-galleria-mask-background: rgba(0, 0, 0, 0.9);
}