:root {
	--p-datatable-paginator-top-border-width: 0 0 1px 0;
	--p-datatable-paginator-top-border-style: inherit;
	--p-datatable-paginator-top-border-color: inherit;
	--p-datatable-paginator-top-border-radius: 0;
	--p-datatable-paginator-bottom-border-width: 0 0 1px 0;
	--p-datatable-paginator-bottom-border-style: inherit;
	--p-datatable-paginator-bottom-border-color: inherit;
	--p-datatable-paginator-bottom-border-radius: 0;
	--p-datatable-header-font-size: inherit;
	--p-datatable-header-font-weight: 700;
	--p-datatable-header-color: #343a40;
	--p-datatable-header-background: #f8f9fa;
	--p-datatable-header-border-width: 1px 0 1px 0;
	--p-datatable-header-border-style: solid;
	--p-datatable-header-border-color: #dee2e6;
	--p-datatable-header-padding-top: 1rem;
	--p-datatable-header-padding-right: 1rem;
	--p-datatable-header-padding-bottom: 1rem;
	--p-datatable-header-padding-left: 1rem;
	--p-datatable-footer-font-size: inherit;
	--p-datatable-footer-font-weight: 700;
	--p-datatable-footer-color: #343a40;
	--p-datatable-footer-background: #f8f9fa;
	--p-datatable-footer-border-width: 0 0 1px 0;
	--p-datatable-footer-border-style: solid;
	--p-datatable-footer-border-color: #dee2e6;
	--p-datatable-footer-padding-top: 1rem;
	--p-datatable-footer-padding-right: 1rem;
	--p-datatable-footer-padding-bottom: 1rem;
	--p-datatable-footer-padding-left: 1rem;
	--p-datatable-header-cell-font-size: inherit;
	--p-datatable-header-cell-font-weight: 700;
	--p-datatable-header-cell-text-align: left;
	--p-datatable-header-cell-color: #343a40;
	--p-datatable-header-cell-background: #f8f9fa;
	--p-datatable-header-cell-border-width: 0 0 1px 0;
	--p-datatable-header-cell-border-style: solid;
	--p-datatable-header-cell-border-color: #dee2e6;
	--p-datatable-header-cell-padding-top: 1rem;
	--p-datatable-header-cell-padding-right: 1rem;
	--p-datatable-header-cell-padding-bottom: 1rem;
	--p-datatable-header-cell-padding-left: 1rem;
	--p-datatable-header-cell-hover-color: #343a40;
	--p-datatable-header-cell-hover-background: #e9ecef;
	--p-datatable-header-cell-hover-affects-sort-icon-color: #343a40;
	--p-datatable-header-cell-active-color: var(--p-primary-darker-color);
	--p-datatable-header-cell-active-background: #eff6ff;
	--p-datatable-header-cell-active-affects-sort-icon-color: var(--p-primary-darker-color);
	--p-datatable-header-cell-active-hover-color: var(--p-primary-darker-color);
	--p-datatable-header-cell-active-hover-background: #eff6ff;
	--p-datatable-header-cell-active-hover-affects-sort-icon-color: var(--p-primary-darker-color);
	--p-datatable-header-cell-focus-box-shadow: inset 0 0 0 0.15rem var(--p-primary-light-color);
	--p-datatable-header-cell-focus-outline-color: initial;
	--p-datatable-header-cell-focus-outline-style: none;
	--p-datatable-header-cell-focus-outline-width: 0;
	--p-datatable-header-cell-focus-outline-offset: initial;
	--p-datatable-footer-cell-font-size: inherit;
	--p-datatable-footer-cell-font-weight: 700;
	--p-datatable-footer-cell-text-align: left;
	--p-datatable-footer-cell-color: #343a40;
	--p-datatable-footer-cell-background: #f8f9fa;
	--p-datatable-footer-cell-border-width: 0 0 1px 0;
	--p-datatable-footer-cell-border-style: solid;
	--p-datatable-footer-cell-border-color: #dee2e6;
	--p-datatable-footer-cell-padding-top: 1rem;
	--p-datatable-footer-cell-padding-right: 1rem;
	--p-datatable-footer-cell-padding-bottom: 1rem;
	--p-datatable-footer-cell-padding-left: 1rem;
	--p-datatable-sort-icon-color: #343a40;
	--p-datatable-sort-badge-height: 1.143rem;
	--p-datatable-sort-badge-min-width: 1.143rem;
	--p-datatable-sort-badge-line-height: 1.143rem;
	--p-datatable-sort-badge-color: var(--p-primary-darker-color);
	--p-datatable-sort-badge-background: #eff6ff;
	--p-datatable-sort-badge-border-width: initial;
	--p-datatable-sort-badge-border-style: initial;
	--p-datatable-sort-badge-border-color: initial;
	--p-datatable-sort-badge-border-radius: 50%;
	--p-datatable-body-row-color: #495057;
	--p-datatable-body-row-background: #ffffff;
	--p-datatable-body-row-focus-outline-color: var(--p-primary-light-color);
	--p-datatable-body-row-focus-outline-style: solid;
	--p-datatable-body-row-focus-outline-width: 0.15rem;
	--p-datatable-body-row-focus-outline-offset: -0.15rem;
	--p-datatable-body-row-active-color: var(--p-primary-darker-color);
	--p-datatable-body-row-active-background: #eff6ff;
	--p-datatable-body-row-drag-point-top-body-cell-box-shadow: inset 0 2px 0 0 #eff6ff;
	--p-datatable-body-row-drag-point-bottom-body-cell-box-shadow: inset 0 -2px 0 0 #eff6ff;
	--p-datatable-body-cell-text-align: left;
	--p-datatable-body-cell-border-width: 0 0 1px 0;
	--p-datatable-body-cell-border-style: solid;
	--p-datatable-body-cell-border-color: #dee2e6;
	--p-datatable-body-cell-padding-top: 1rem;
	--p-datatable-body-cell-padding-right: 1rem;
	--p-datatable-body-cell-padding-bottom: 1rem;
	--p-datatable-body-cell-padding-left: 1rem;
	--p-datatable-row-action-button-width: 2rem;
	--p-datatable-row-action-button-height: 2rem;
	--p-datatable-row-action-button-color: #6c757d;
	--p-datatable-row-action-button-background: transparent;
	--p-datatable-row-action-button-border-width: 0;
	--p-datatable-row-action-button-border-style: none;
	--p-datatable-row-action-button-border-color: initial;
	--p-datatable-row-action-button-border-radius: 50%;
	--p-datatable-row-action-button-hover-color: #343a40;
	--p-datatable-row-action-button-hover-background: #e9ecef;
	--p-datatable-row-action-button-hover-border-width: inherit;
	--p-datatable-row-action-button-hover-border-style: inherit;
	--p-datatable-row-action-button-hover-border-color: transparent;
	--p-datatable-row-action-button-focus-outline-color: var(--p-primary-light-color);
	--p-datatable-row-action-button-focus-outline-style: none;
	--p-datatable-row-action-button-focus-outline-width: 0;
	--p-datatable-row-action-button-focus-outline-offset: 0;
	--p-datatable-row-action-button-focus-box-shadow: 0 0 0 0.2rem var(--p-primary-light-color);
	--p-datatable-body-title-font-size: inherit;
	--p-datatable-body-title-font-weight: 700;
	--p-datatable-resize-helper-background: var(--p-primary-color);
	--p-datatable-loading-icon-width: 2rem;
	--p-datatable-hoverable-rows-body-row-hover-color: #495057;
	--p-datatable-hoverable-rows-body-row-hover-background: #e9ecef;
	--p-datatable-scrollable-thead-background: #f8f9fa;
	--p-datatable-scrollable-tfoot-background: #f8f9fa;
	--p-datatable-striped-body-row-even-background: #fcfcfc;
	--p-datatable-striped-body-row-even-states-active-color: var(--p-primary-darker-color);
	--p-datatable-striped-body-row-even-states-active-background: #eff6ff;
	--p-datatable-striped-body-row-even-states-active-affects-row-toggler-color: var(--p-primary-darker-color);
	--p-datatable-striped-body-row-even-states-active-affects-row-toggler-hover-color: var(--p-primary-darker-color);
	--p-datatable-small-header-padding-top: 0.5rem;
	--p-datatable-small-header-padding-right: 0.5rem;
	--p-datatable-small-header-padding-bottom: 0.5rem;
	--p-datatable-small-header-padding-left: 0.5rem;
	--p-datatable-small-footer-padding-top: 0.5rem;
	--p-datatable-small-footer-padding-right: 0.5rem;
	--p-datatable-small-footer-padding-bottom: 0.5rem;
	--p-datatable-small-footer-padding-left: 0.5rem;
	--p-datatable-small-header-cell-padding-top: 0.5rem;
	--p-datatable-small-header-cell-padding-right: 0.5rem;
	--p-datatable-small-header-cell-padding-bottom: 0.5rem;
	--p-datatable-small-header-cell-padding-left: 0.5rem;
	--p-datatable-small-body-cell-padding-top: 0.5rem;
	--p-datatable-small-body-cell-padding-right: 0.5rem;
	--p-datatable-small-body-cell-padding-bottom: 0.5rem;
	--p-datatable-small-body-cell-padding-left: 0.5rem;
	--p-datatable-small-footer-cell-padding-top: 0.5rem;
	--p-datatable-small-footer-cell-padding-right: 0.5rem;
	--p-datatable-small-footer-cell-padding-bottom: 0.5rem;
	--p-datatable-small-footer-cell-padding-left: 0.5rem;
	--p-datatable-large-header-padding-top: 1.25rem;
	--p-datatable-large-header-padding-right: 1.25rem;
	--p-datatable-large-header-padding-bottom: 1.25rem;
	--p-datatable-large-header-padding-left: 1.25rem;
	--p-datatable-large-footer-padding-top: 1.25rem;
	--p-datatable-large-footer-padding-right: 1.25rem;
	--p-datatable-large-footer-padding-bottom: 1.25rem;
	--p-datatable-large-footer-padding-left: 1.25rem;
	--p-datatable-large-header-cell-padding-top: 1.25rem;
	--p-datatable-large-header-cell-padding-right: 1.25rem;
	--p-datatable-large-header-cell-padding-bottom: 1.25rem;
	--p-datatable-large-header-cell-padding-left: 1.25rem;
	--p-datatable-large-body-cell-padding-top: 1.25rem;
	--p-datatable-large-body-cell-padding-right: 1.25rem;
	--p-datatable-large-body-cell-padding-bottom: 1.25rem;
	--p-datatable-large-body-cell-padding-left: 1.25rem;
	--p-datatable-large-footer-cell-padding-top: 1.25rem;
	--p-datatable-large-footer-cell-padding-right: 1.25rem;
	--p-datatable-large-footer-cell-padding-bottom: 1.25rem;
	--p-datatable-large-footer-cell-padding-left: 1.25rem;
}