:root {
	--p-dataview-paginator-top-border-width: 0 0 1px 0;
	--p-dataview-paginator-top-border-style: inherit;
	--p-dataview-paginator-top-border-color: inherit;
	--p-dataview-paginator-top-border-radius: 0;
	--p-dataview-paginator-bottom-border-width: 0 0 1px 0;
	--p-dataview-paginator-bottom-border-style: inherit;
	--p-dataview-paginator-bottom-border-color: inherit;
	--p-dataview-paginator-bottom-border-radius: 0;
	--p-dataview-header-font-size: inherit;
	--p-dataview-header-font-weight: 700;
	--p-dataview-header-color: #343a40;
	--p-dataview-header-background: #f8f9fa;
	--p-dataview-header-border-width: 1px 0 1px 0;
	--p-dataview-header-border-style: solid;
	--p-dataview-header-border-color: #dee2e6;
	--p-dataview-header-padding-top: 1rem;
	--p-dataview-header-padding-right: 1rem;
	--p-dataview-header-padding-bottom: 1rem;
	--p-dataview-header-padding-left: 1rem;
	--p-dataview-content-color: #495057;
	--p-dataview-content-background: #ffffff;
	--p-dataview-content-border-width: 0;
	--p-dataview-content-border-style: none;
	--p-dataview-content-border-color: initial;
	--p-dataview-content-padding-top: 0;
	--p-dataview-content-padding-right: 0;
	--p-dataview-content-padding-bottom: 0;
	--p-dataview-content-padding-left: 0;
	--p-dataview-footer-font-size: inherit;
	--p-dataview-footer-font-weight: 700;
	--p-dataview-footer-color: #343a40;
	--p-dataview-footer-background: #f8f9fa;
	--p-dataview-footer-border-width: 0 0 1px 0;
	--p-dataview-footer-border-style: solid;
	--p-dataview-footer-border-color: #dee2e6;
	--p-dataview-footer-padding-top: 1rem;
	--p-dataview-footer-padding-right: 1rem;
	--p-dataview-footer-padding-bottom: 1rem;
	--p-dataview-footer-padding-left: 1rem;
	--p-dataview-list-item-border-width: 0 0 1px 0;
	--p-dataview-list-item-border-style: solid;
	--p-dataview-list-item-border-color: #dee2e6;
}