:root {
	--p-paginator-color: #6c757d;
	--p-paginator-background: #ffffff;
	--p-paginator-border-width: 0;
	--p-paginator-border-style: solid;
	--p-paginator-border-color: #e9ecef;
	--p-paginator-padding-top: 0.5rem;
	--p-paginator-padding-right: 1rem;
	--p-paginator-padding-bottom: 0.5rem;
	--p-paginator-padding-left: 1rem;
	--p-paginator-page-button-height: 3rem;
	--p-paginator-page-button-min-width: 3rem;
	--p-paginator-page-button-color: #6c757d;
	--p-paginator-page-button-background: transparent;
	--p-paginator-page-button-border-width: 0;
	--p-paginator-page-button-border-style: none;
	--p-paginator-page-button-border-color: initial;
	--p-paginator-page-button-border-radius: 50%;
	--p-paginator-page-button-margin-top: 0.143rem;
	--p-paginator-page-button-margin-right: 0.143rem;
	--p-paginator-page-button-margin-bottom: 0.143rem;
	--p-paginator-page-button-margin-left: 0.143rem;
	--p-paginator-page-button-active-color: var(--p-primary-darker-color);
	--p-paginator-page-button-active-background: #eff6ff;
	--p-paginator-page-button-active-border-width: inherit;
	--p-paginator-page-button-active-border-style: inherit;
	--p-paginator-page-button-active-border-color: #eff6ff;
	--p-paginator-page-button-hover-color: #343a40;
	--p-paginator-page-button-hover-background: #e9ecef;
	--p-paginator-page-button-hover-border-width: inherit;
	--p-paginator-page-button-hover-border-style: inherit;
	--p-paginator-page-button-hover-border-color: transparent;
	--p-paginator-page-dropdown-height: 3rem;
	--p-paginator-jump-to-page-input-max-width: 3rem;
	--p-paginator-current-height: 3rem;
	--p-paginator-current-min-width: 3rem;
	--p-paginator-current-color: #6c757d;
	--p-paginator-current-background: transparent;
	--p-paginator-current-border-width: 0;
	--p-paginator-current-border-style: none;
	--p-paginator-current-border-color: initial;
	--p-paginator-current-padding-top: 0;
	--p-paginator-current-padding-right: var(--p-inline-spacing);
	--p-paginator-current-padding-bottom: 0;
	--p-paginator-current-padding-left: var(--p-inline-spacing);
	--p-paginator-current-margin-top: 0.143rem;
	--p-paginator-current-margin-right: 0.143rem;
	--p-paginator-current-margin-bottom: 0.143rem;
	--p-paginator-current-margin-left: 0.143rem;
}