:root {
	--p-picklist-controls-padding-top: 1.25rem;
	--p-picklist-controls-padding-right: 1.25rem;
	--p-picklist-controls-padding-bottom: 1.25rem;
	--p-picklist-controls-padding-left: 1.25rem;
	--p-picklist-header-font-size: inherit;
	--p-picklist-header-font-weight: 700;
	--p-picklist-header-color: #343a40;
	--p-picklist-header-background: #f8f9fa;
	--p-picklist-header-border-width: 1px;
	--p-picklist-header-border-style: solid;
	--p-picklist-header-border-color: #dee2e6;
	--p-picklist-header-padding-top: 1.25rem;
	--p-picklist-header-padding-right: 1.25rem;
	--p-picklist-header-padding-bottom: 1.25rem;
	--p-picklist-header-padding-left: 1.25rem;
	--p-picklist-list-color: #495057;
	--p-picklist-list-background: #ffffff;
	--p-picklist-list-border-width: 1px;
	--p-picklist-list-border-style: solid;
	--p-picklist-list-border-color: #dee2e6;
	--p-picklist-list-padding-top: 0.75rem;
	--p-picklist-list-padding-right: 0;
	--p-picklist-list-padding-bottom: 0.75rem;
	--p-picklist-list-padding-left: 0;
	--p-picklist-item-color: #495057;
	--p-picklist-item-background: transparent;
	--p-picklist-item-border-width: 0;
	--p-picklist-item-border-style: none;
	--p-picklist-item-border-color: initial;
	--p-picklist-item-padding-top: 0.75rem;
	--p-picklist-item-padding-right: 1.25rem;
	--p-picklist-item-padding-bottom: 0.75rem;
	--p-picklist-item-padding-left: 1.25rem;
	--p-picklist-item-margin-top: 0;
	--p-picklist-item-margin-right: 0;
	--p-picklist-item-margin-bottom: 0;
	--p-picklist-item-margin-left: 0;
	--p-picklist-item-hover-color: #495057;
	--p-picklist-item-hover-background: #e9ecef;
	--p-picklist-item-focus-color: #495057;
	--p-picklist-item-focus-background: #dee2e6;
	--p-picklist-item-active-color: var(--p-primary-darker-color);
	--p-picklist-item-active-background: #eff6ff;
	--p-picklist-item-active-focus-background: rgba(var(--p-primary-color), 0.24);
	--p-picklist-striped-even-item-background: #fcfcfc;
	--p-picklist-striped-even-item-hover-background: #e9ecef;
}