:root {
	--p-treetable-paginator-top-border-width: 0 0 1px 0;
	--p-treetable-paginator-top-border-style: inherit;
	--p-treetable-paginator-top-border-color: inherit;
	--p-treetable-paginator-top-border-radius: 0;
	--p-treetable-paginator-bottom-border-width: 0 0 1px 0;
	--p-treetable-paginator-bottom-border-style: inherit;
	--p-treetable-paginator-bottom-border-color: inherit;
	--p-treetable-paginator-bottom-border-radius: 0;
	--p-treetable-header-font-size: inherit;
	--p-treetable-header-font-weight: 700;
	--p-treetable-header-color: #343a40;
	--p-treetable-header-background: #f8f9fa;
	--p-treetable-header-border-width: 1px 0 1px 0;
	--p-treetable-header-border-style: solid;
	--p-treetable-header-border-color: #dee2e6;
	--p-treetable-header-padding-top: 1rem;
	--p-treetable-header-padding-right: 1rem;
	--p-treetable-header-padding-bottom: 1rem;
	--p-treetable-header-padding-left: 1rem;
	--p-treetable-footer-font-size: inherit;
	--p-treetable-footer-font-weight: 700;
	--p-treetable-footer-color: #343a40;
	--p-treetable-footer-background: #f8f9fa;
	--p-treetable-footer-border-width: 0 0 1px 0;
	--p-treetable-footer-border-style: solid;
	--p-treetable-footer-border-color: #dee2e6;
	--p-treetable-footer-padding-top: 1rem;
	--p-treetable-footer-padding-right: 1rem;
	--p-treetable-footer-padding-bottom: 1rem;
	--p-treetable-footer-padding-left: 1rem;
	--p-treetable-header-cell-font-size: inherit;
	--p-treetable-header-cell-font-weight: 700;
	--p-treetable-header-cell-text-align: left;
	--p-treetable-header-cell-color: #343a40;
	--p-treetable-header-cell-background: #f8f9fa;
	--p-treetable-header-cell-border-width: 0 0 1px 0;
	--p-treetable-header-cell-border-style: solid;
	--p-treetable-header-cell-border-color: #dee2e6;
	--p-treetable-header-cell-padding-top: 1rem;
	--p-treetable-header-cell-padding-right: 1rem;
	--p-treetable-header-cell-padding-bottom: 1rem;
	--p-treetable-header-cell-padding-left: 1rem;
	--p-treetable-header-cell-hover-color: #343a40;
	--p-treetable-header-cell-hover-background: #e9ecef;
	--p-treetable-header-cell-hover-affects-sort-icon-color: #343a40;
	--p-treetable-header-cell-active-color: var(--p-primary-darker-color);
	--p-treetable-header-cell-active-background: #eff6ff;
	--p-treetable-header-cell-active-affects-sort-icon-color: var(--p-primary-darker-color);
	--p-treetable-header-cell-active-hover-color: var(--p-primary-darker-color);
	--p-treetable-header-cell-active-hover-background: #eff6ff;
	--p-treetable-header-cell-active-hover-affects-sort-icon-color: var(--p-primary-darker-color);
	--p-treetable-header-cell-focus-box-shadow: inset 0 0 0 0.15rem var(--p-primary-light-color);
	--p-treetable-header-cell-focus-outline-color: initial;
	--p-treetable-header-cell-focus-outline-style: none;
	--p-treetable-header-cell-focus-outline-width: 0;
	--p-treetable-header-cell-focus-outline-offset: initial;
	--p-treetable-footer-cell-font-size: inherit;
	--p-treetable-footer-cell-font-weight: 700;
	--p-treetable-footer-cell-text-align: left;
	--p-treetable-footer-cell-color: #343a40;
	--p-treetable-footer-cell-background: #f8f9fa;
	--p-treetable-footer-cell-border-width: 0 0 1px 0;
	--p-treetable-footer-cell-border-style: solid;
	--p-treetable-footer-cell-border-color: #dee2e6;
	--p-treetable-footer-cell-padding-top: 1rem;
	--p-treetable-footer-cell-padding-right: 1rem;
	--p-treetable-footer-cell-padding-bottom: 1rem;
	--p-treetable-footer-cell-padding-left: 1rem;
	--p-treetable-sort-icon-color: #343a40;
	--p-treetable-sort-badge-height: 1.143rem;
	--p-treetable-sort-badge-min-width: 1.143rem;
	--p-treetable-sort-badge-line-height: 1.143rem;
	--p-treetable-sort-badge-color: var(--p-primary-darker-color);
	--p-treetable-sort-badge-background: #eff6ff;
	--p-treetable-sort-badge-border-width: initial;
	--p-treetable-sort-badge-border-style: initial;
	--p-treetable-sort-badge-border-color: initial;
	--p-treetable-sort-badge-border-radius: 50%;
	--p-treetable-body-row-color: #495057;
	--p-treetable-body-row-background: #ffffff;
	--p-treetable-body-row-focus-outline-color: var(--p-primary-light-color);
	--p-treetable-body-row-focus-outline-style: solid;
	--p-treetable-body-row-focus-outline-width: 0.15rem;
	--p-treetable-body-row-focus-outline-offset: -0.15rem;
	--p-treetable-body-row-active-color: var(--p-primary-darker-color);
	--p-treetable-body-row-active-background: #eff6ff;
	--p-treetable-body-row-active-affects-row-toggler-color: var(--p-primary-darker-color);
	--p-treetable-body-row-active-affects-row-toggler-hover-color: var(--p-primary-darker-color);
	--p-treetable-body-cell-text-align: left;
	--p-treetable-body-cell-border-width: 0 0 1px 0;
	--p-treetable-body-cell-border-style: solid;
	--p-treetable-body-cell-border-color: #dee2e6;
	--p-treetable-body-cell-padding-top: 1rem;
	--p-treetable-body-cell-padding-right: 1rem;
	--p-treetable-body-cell-padding-bottom: 1rem;
	--p-treetable-body-cell-padding-left: 1rem;
	--p-treetable-row-action-button-width: 2rem;
	--p-treetable-row-action-button-height: 2rem;
	--p-treetable-row-action-button-color: #6c757d;
	--p-treetable-row-action-button-background: transparent;
	--p-treetable-row-action-button-border-width: 0;
	--p-treetable-row-action-button-border-style: none;
	--p-treetable-row-action-button-border-color: initial;
	--p-treetable-row-action-button-border-radius: 50%;
	--p-treetable-row-action-button-hover-color: #343a40;
	--p-treetable-row-action-button-hover-background: #e9ecef;
	--p-treetable-row-action-button-hover-border-width: inherit;
	--p-treetable-row-action-button-hover-border-style: inherit;
	--p-treetable-row-action-button-hover-border-color: transparent;
	--p-treetable-row-action-button-focus-outline-color: var(--p-primary-light-color);
	--p-treetable-row-action-button-focus-outline-style: none;
	--p-treetable-row-action-button-focus-outline-width: 0;
	--p-treetable-row-action-button-focus-outline-offset: 0;
	--p-treetable-row-action-button-focus-box-shadow: 0 0 0 0.2rem var(--p-primary-light-color);
	--p-treetable-resize-helper-background: var(--p-primary-color);
	--p-treetable-loading-icon-width: 2rem;
	--p-treetable-hoverable-rows-body-row-hover-color: #495057;
	--p-treetable-hoverable-rows-body-row-hover-background: #e9ecef;
	--p-treetable-hoverable-rows-body-row-hover-affects-row-toggler-color: #495057;
	--p-treetable-small-header-padding-top: 0.5rem;
	--p-treetable-small-header-padding-right: 0.5rem;
	--p-treetable-small-header-padding-bottom: 0.5rem;
	--p-treetable-small-header-padding-left: 0.5rem;
	--p-treetable-small-footer-padding-top: 0.5rem;
	--p-treetable-small-footer-padding-right: 0.5rem;
	--p-treetable-small-footer-padding-bottom: 0.5rem;
	--p-treetable-small-footer-padding-left: 0.5rem;
	--p-treetable-small-header-cell-padding-top: 0.5rem;
	--p-treetable-small-header-cell-padding-right: 0.5rem;
	--p-treetable-small-header-cell-padding-bottom: 0.5rem;
	--p-treetable-small-header-cell-padding-left: 0.5rem;
	--p-treetable-small-body-cell-padding-top: 0.5rem;
	--p-treetable-small-body-cell-padding-right: 0.5rem;
	--p-treetable-small-body-cell-padding-bottom: 0.5rem;
	--p-treetable-small-body-cell-padding-left: 0.5rem;
	--p-treetable-small-footer-cell-padding-top: 0.5rem;
	--p-treetable-small-footer-cell-padding-right: 0.5rem;
	--p-treetable-small-footer-cell-padding-bottom: 0.5rem;
	--p-treetable-small-footer-cell-padding-left: 0.5rem;
	--p-treetable-large-header-padding-top: 1.25rem;
	--p-treetable-large-header-padding-right: 1.25rem;
	--p-treetable-large-header-padding-bottom: 1.25rem;
	--p-treetable-large-header-padding-left: 1.25rem;
	--p-treetable-large-footer-padding-top: 1.25rem;
	--p-treetable-large-footer-padding-right: 1.25rem;
	--p-treetable-large-footer-padding-bottom: 1.25rem;
	--p-treetable-large-footer-padding-left: 1.25rem;
	--p-treetable-large-header-cell-padding-top: 1.25rem;
	--p-treetable-large-header-cell-padding-right: 1.25rem;
	--p-treetable-large-header-cell-padding-bottom: 1.25rem;
	--p-treetable-large-header-cell-padding-left: 1.25rem;
	--p-treetable-large-body-cell-padding-top: 1.25rem;
	--p-treetable-large-body-cell-padding-right: 1.25rem;
	--p-treetable-large-body-cell-padding-bottom: 1.25rem;
	--p-treetable-large-body-cell-padding-left: 1.25rem;
	--p-treetable-large-footer-cell-padding-top: 1.25rem;
	--p-treetable-large-footer-cell-padding-right: 1.25rem;
	--p-treetable-large-footer-cell-padding-bottom: 1.25rem;
	--p-treetable-large-footer-cell-padding-left: 1.25rem;
}