:root {
	--p-tree-color: #495057;
	--p-tree-background: #ffffff;
	--p-tree-border-width: 1px;
	--p-tree-border-style: solid;
	--p-tree-border-color: #dee2e6;
	--p-tree-padding-top: 1.25rem;
	--p-tree-padding-right: 1.25rem;
	--p-tree-padding-bottom: 1.25rem;
	--p-tree-padding-left: 1.25rem;
	--p-tree-node-padding-top: 0.143rem;
	--p-tree-node-padding-right: 0.143rem;
	--p-tree-node-padding-bottom: 0.143rem;
	--p-tree-node-padding-left: 0.143rem;
	--p-tree-content-padding-top: 0.5rem;
	--p-tree-content-padding-right: 0.5rem;
	--p-tree-content-padding-bottom: 0.5rem;
	--p-tree-content-padding-left: 0.5rem;
	--p-tree-content-focus-outline-color: var(--p-primary-light-color);
	--p-tree-content-focus-outline-style: none;
	--p-tree-content-focus-outline-width: 0;
	--p-tree-content-focus-outline-offset: 0;
	--p-tree-content-focus-box-shadow: 0 0 0 0.2rem var(--p-primary-light-color);
	--p-tree-content-active-color: var(--p-primary-darker-color);
	--p-tree-content-active-background: #eff6ff;
	--p-tree-content-active-affects-toggler-color: var(--p-primary-darker-color);
	--p-tree-content-active-affects-toggler-hover-color: var(--p-primary-darker-color);
	--p-tree-content-hover-color: #495057;
	--p-tree-content-hover-background: #e9ecef;
	--p-tree-toggler-width: 2rem;
	--p-tree-toggler-height: 2rem;
	--p-tree-toggler-color: #6c757d;
	--p-tree-toggler-background: transparent;
	--p-tree-toggler-border-width: 0;
	--p-tree-toggler-border-style: none;
	--p-tree-toggler-border-color: initial;
	--p-tree-toggler-border-radius: 50%;
	--p-tree-toggler-hover-color: #343a40;
	--p-tree-toggler-hover-background: #e9ecef;
	--p-tree-toggler-hover-border-width: inherit;
	--p-tree-toggler-hover-border-style: inherit;
	--p-tree-toggler-hover-border-color: transparent;
	--p-tree-toggler-focus-outline-color: var(--p-primary-light-color);
	--p-tree-toggler-focus-outline-style: none;
	--p-tree-toggler-focus-outline-width: 0;
	--p-tree-toggler-focus-outline-offset: 0;
	--p-tree-toggler-focus-box-shadow: 0 0 0 0.2rem var(--p-primary-light-color);
	--p-tree-toggler-active-color: var(--p-primary-darker-color);
	--p-tree-node-icon-color: #6c757d;
	--p-tree-checkbox-icon-color: #495057;
	--p-tree-filter-icon-color: #6c757d;
	--p-tree-subgroup-padding-top: 0;
	--p-tree-subgroup-padding-right: 0;
	--p-tree-subgroup-padding-bottom: 0;
	--p-tree-subgroup-padding-left: 1rem;
	--p-tree-loading-icon-width: 2rem;
}