$primaryColor: #93c5fd !default;
$primaryLightColor: rgba(147, 197, 253, .2) !default;
$primaryDarkColor: #60a5fa !default;
$primaryDarkerColor: #3b82f6 !default;
$primaryTextColor: #030712 !default;

$highlightBg:rgba(147, 197, 253, .16) !default;
$highlightTextColor: rgba(255,255,255,.87) !default;
$highlightFocusBg: rgba($primaryColor, .24) !default;

@import '../_variables';
@import './_fonts';
@import '../../../../theme-base/_components';
@import '../_extensions';