.p-fileupload {
    .p-fileupload-buttonbar {
        color: var(--p-fileupload-buttonbar-color);
        background: var(--p-fileupload-buttonbar-background);
        padding-top: var(--p-fileupload-buttonbar-padding-top);
        padding-right: var(--p-fileupload-buttonbar-padding-right);
        padding-bottom: var(--p-fileupload-buttonbar-padding-bottom);
        padding-left: var(--p-fileupload-buttonbar-padding-left);
        border-width: var(--p-fileupload-buttonbar-border-width);
        border-style: var(--p-fileupload-buttonbar-border-style);
        border-color: var(--p-fileupload-buttonbar-border-color);
        border-bottom: 0 none;
        border-top-right-radius: var(--p-border-radius);
        border-top-left-radius: var(--p-border-radius);
        gap: var(--p-inline-spacing);

        .p-button {
            &.p-fileupload-choose.p-focus {
                outline-color: var(--p-fileupload-choose-button-focus-outline-color);
                outline-style: var(--p-fileupload-choose-button-focus-outline-style);
                outline-width: var(--p-fileupload-choose-button-focus-outline-width);
                outline-offset: var(--p-fileupload-choose-button-focus-outline-offset);
                box-shadow: var(--p-fileupload-choose-button-focus-box-shadow);
            }
        }
    }

    .p-fileupload-content {
        color: var(--p-fileupload-content-color);
        background: var(--p-fileupload-content-background);
        padding-top: var(--p-fileupload-content-padding-top);
        padding-right: var(--p-fileupload-content-padding-right);
        padding-bottom: var(--p-fileupload-content-padding-bottom);
        padding-left: var(--p-fileupload-content-padding-left);
        border-width: var(--p-fileupload-content-border-width);
        border-style: var(--p-fileupload-content-border-style);
        border-color: var(--p-fileupload-content-border-color);
        border-bottom-right-radius: var(--p-border-radius);
        border-bottom-left-radius: var(--p-border-radius);
    }

    .p-fileupload-file {
        padding-top: var(--p-fileupload-file-padding-top);
        padding-right: var(--p-fileupload-file-padding-right);
        padding-bottom: var(--p-fileupload-file-padding-bottom);
        padding-left: var(--p-fileupload-file-padding-left);
        border-width: var(--p-fileupload-file-border-width);
        border-style: var(--p-fileupload-file-border-style);
        border-color: var(--p-fileupload-file-border-color);
        border-radius: var(--p-border-radius);
        gap: var(--p-inline-spacing);
        margin-bottom: var(--p-inline-spacing);

        &:last-child {
            margin-bottom: 0;
        }
    }

    .p-fileupload-file-name {
        margin-bottom: var(--p-inline-spacing);
    }

    .p-fileupload-file-size {
        margin-right: var(--p-inline-spacing);
    }

    .p-progressbar {
        height: var(--p-fileupload-progressbar-height);
    }

    &.p-fileupload-advanced {
        .p-message {
            margin-top: 0;
        }
    }
}

.p-fileupload-choose {
    &:not(.p-disabled):hover {
        color: var(--p-fileupload-choose-button-hover-color);
        background: var(--p-fileupload-choose-button-hover-background);
        border-width: var(--p-fileupload-choose-button-hover-border-width);
        border-style: var(--p-fileupload-choose-button-hover-border-style);
        border-color: var(--p-fileupload-choose-button-hover-border-color);
    }

    &:not(.p-disabled):active {
        color: var(--p-fileupload-choose-button-active-color);
        background: var(--p-fileupload-choose-button-active-background);
        border-width: var(--p-fileupload-choose-button-active-border-width);
        border-style: var(--p-fileupload-choose-button-active-border-style);
        border-color: var(--p-fileupload-choose-button-active-border-color);
    }
}
