.p-accordion {
    .p-accordion-header {
        .p-accordion-header-link {
            font-size: $accordionHeaderFontSize;
            font-weight: $accordionHeaderFontWeight;
            color: $accordionHeaderColor;
            background: $accordionHeaderBackground;
            padding-top: $accordionHeaderPaddingTop;
            padding-right: $accordionHeaderPaddingRight;
            padding-bottom: $accordionHeaderPaddingBottom;
            padding-left: $accordionHeaderPaddingLeft;
            border-width: $accordionHeaderBorderWidth;
            border-style: $accordionHeaderBorderStyle;
            border-color: $accordionHeaderBorderColor;
            border-radius: $borderRadius;
            transition-duration: $transitionDuration;
            transition-property: $transitionProperty;

            .p-accordion-toggle-icon {
                margin-right: $inlineSpacing;
            }
        }

        &:not(.p-disabled) {
            .p-accordion-header-link {
                &:focus {
                    outline-color: $accordionHeaderFocusOutlineColor;
                    outline-style: $accordionHeaderFocusOutlineStyle;
                    outline-width: $accordionHeaderFocusOutlineWidth;
                    outline-offset: $accordionHeaderFocusOutlineOffset;
                    box-shadow: $accordionHeaderFocusBoxShadow;
                }
            }
        }

        &:not(.p-highlight):not(.p-disabled):hover {
            .p-accordion-header-link {
                color: $accordionHeaderHoverColor;
                background: $accordionHeaderHoverBackground;
                border-width: $accordionHeaderHoverBorderWidth;
                border-style: $accordionHeaderHoverBorderStyle;
                border-color: $accordionHeaderHoverBorderColor;
            }
        }

        &:not(.p-disabled).p-highlight {
            .p-accordion-header-link {
                color: $accordionHeaderActiveColor;
                background: $accordionHeaderActiveBackground;
                border-width: $accordionHeaderActiveBorderWidth;
                border-style: $accordionHeaderActiveBorderStyle;
                border-color: $accordionHeaderActiveBorderColor;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            &:hover {
                .p-accordion-header-link {
                    color: $accordionHeaderActiveHoverColor;
                    background: $accordionHeaderActiveHoverBackground;
                    border-width: $accordionHeaderActiveHoverBorderWidth;
                    border-style: $accordionHeaderActiveHoverBorderStyle;
                    border-color: $accordionHeaderActiveHoverBorderColor;
                }
            }
        }
    }

    .p-accordion-content {
        color: $accordionContentColor;
        background: $accordionContentBackground;
        padding-top: $accordionContentPaddingTop;
        padding-right: $accordionContentPaddingRight;
        padding-bottom: $accordionContentPaddingBottom;
        padding-left: $accordionContentPaddingLeft;
        border-width: $accordionContentBorderWidth;
        border-style: $accordionContentBorderStyle;
        border-color: $accordionContentBorderColor;
        border-top: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: $borderRadius;
        border-bottom-left-radius: $borderRadius;
    }

    .p-accordion-tab {
        margin-bottom: $accordionSpacing;

        @if $accordionSpacing == 0 {
            .p-accordion-header {
                .p-accordion-header-link {
                    border-radius: 0;
                }
            }

            .p-accordion-content {
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            &:not(:first-child) {
                .p-accordion-header {
                    .p-accordion-header-link {
                        border-top: 0 none;
                    }

                    &:not(.p-highlight):not(.p-disabled):hover,
                    &:not(.p-disabled).p-highlight:hover {
                        .p-accordion-header-link {
                            border-top: 0 none;
                        }
                    }
                }
            }

            &:first-child {
                .p-accordion-header {
                    .p-accordion-header-link {
                        border-top-right-radius: $borderRadius;
                        border-top-left-radius: $borderRadius;
                    }
                }
            }

            &:last-child {
                .p-accordion-header:not(.p-highlight) {
                    .p-accordion-header-link {
                        border-bottom-right-radius: $borderRadius;
                        border-bottom-left-radius: $borderRadius;
                    }
                }

                .p-accordion-content {
                    border-bottom-right-radius: $borderRadius;
                    border-bottom-left-radius: $borderRadius;
                }
            }
        }
    }
}
