.p-card {
    color: $cardColor;
    background: $cardBackground;
    box-shadow: $cardBoxShadow;
    border-radius: $borderRadius;

    .p-card-body {
        padding-top: $cardBodyPaddingTop;
        padding-right: $cardBodyPaddingRight;
        padding-bottom: $cardBodyPaddingBottom;
        padding-left: $cardBodyPaddingLeft;
    }

    .p-card-title {
        font-size: $cardTitleFontSize;
        font-weight: $cardTitleFontWeight;
        margin-bottom: $inlineSpacing;
    }

    .p-card-subtitle {
        font-size: $cardSubtitleFontSize;
        font-weight: $cardSubtitleFontWeight;
        color: $cardSubtitleColor;
        margin-bottom: $inlineSpacing;
    }

    .p-card-content {
        padding-top: $cardContentPaddingTop;
        padding-right: $cardContentPaddingRight;
        padding-bottom: $cardContentPaddingBottom;
        padding-left: $cardContentPaddingLeft;
    }

    .p-card-footer {
        padding-top: $cardFooterPaddingTop;
        padding-right: $cardFooterPaddingRight;
        padding-bottom: $cardFooterPaddingBottom;
        padding-left: $cardFooterPaddingLeft;
    }
}
