.p-card {
    color: var(--p-card-color);
    background: var(--p-card-background);
    box-shadow: var(--p-card-box-shadow);
    border-radius: var(--p-border-radius);

    .p-card-body {
        padding-top: var(--p-card-body-padding-top);
        padding-right: var(--p-card-body-padding-right);
        padding-bottom: var(--p-card-body-padding-bottom);
        padding-left: var(--p-card-body-padding-left);
    }

    .p-card-title {
        font-size: var(--p-card-title-font-size);
        font-weight: var(--p-card-title-font-weight);
        margin-bottom: var(--p-inline-spacing);
    }

    .p-card-subtitle {
        font-size: var(--p-card-subtitle-font-size);
        font-weight: var(--p-card-subtitle-font-weight);
        color: var(--p-card-subtitle-color);
        margin-bottom: var(--p-inline-spacing);
    }

    .p-card-content {
        padding-top: var(--p-card-content-padding-top);
        padding-right: var(--p-card-content-padding-right);
        padding-bottom: var(--p-card-content-padding-bottom);
        padding-left: var(--p-card-content-padding-left);
    }

    .p-card-footer {
        padding-top: var(--p-card-footer-padding-top);
        padding-right: var(--p-card-footer-padding-right);
        padding-bottom: var(--p-card-footer-padding-bottom);
        padding-left: var(--p-card-footer-padding-left);
    }
}
