.p-divider {
    .p-divider-content {
        background: $dividerContentBackground;
    }

    &.p-divider-horizontal {
        padding-top: $dividerHorizontalPaddingTop;
        padding-right: $dividerHorizontalPaddingRight;
        padding-bottom: $dividerHorizontalPaddingBottom;
        padding-left: $dividerHorizontalPaddingLeft;
        margin-top: $dividerHorizontalMarginTop;
        margin-right: $dividerHorizontalMarginRight;
        margin-bottom: $dividerHorizontalMarginBottom;
        margin-left: $dividerHorizontalMarginLeft;

        &:before {
            border-top: $dividerSize $dividerColor;
        }

        .p-divider-content {
            padding: 0 $inlineSpacing;
        }
    }

    &.p-divider-vertical {
        padding-top: $dividerVerticalPaddingTop;
        padding-right: $dividerVerticalPaddingRight;
        padding-bottom: $dividerVerticalPaddingBottom;
        padding-left: $dividerVerticalPaddingLeft;
        margin-top: $dividerVerticalMarginTop;
        margin-right: $dividerVerticalMarginRight;
        margin-bottom: $dividerVerticalMarginBottom;
        margin-left: $dividerVerticalMarginLeft;

        &:before {
            border-left: $dividerSize $dividerColor;
        }

        .p-divider-content {
            padding: $inlineSpacing 0;
        }
    }
}
