.p-divider {
    .p-divider-content {
        background: var(--p-divider-content-background);
    }

    &.p-divider-horizontal {
        padding-top: var(--p-divider-horizontal-padding-top);
        padding-right: var(--p-divider-horizontal-padding-right);
        padding-bottom: var(--p-divider-horizontal-padding-bottom);
        padding-left: var(--p-divider-horizontal-padding-left);
        margin-top: var(--p-divider-horizontal-margin-top);
        margin-right: var(--p-divider-horizontal-margin-right);
        margin-bottom: var(--p-divider-horizontal-margin-bottom);
        margin-left: var(--p-divider-horizontal-margin-left);

        &:before {
            border-top-width: var(--p-divider-size);
            border-top-style: initial;
            border-top-color: var(--p-divider-color);
        }

        .p-divider-content {
            padding: 0 var(--p-inline-spacing);
        }
    }

    &.p-divider-vertical {
        padding-top: var(--p-divider-vertical-padding-top);
        padding-right: var(--p-divider-vertical-padding-right);
        padding-bottom: var(--p-divider-vertical-padding-bottom);
        padding-left: var(--p-divider-vertical-padding-left);
        margin-top: var(--p-divider-vertical-margin-top);
        margin-right: var(--p-divider-vertical-margin-right);
        margin-bottom: var(--p-divider-vertical-margin-bottom);
        margin-left: var(--p-divider-vertical-margin-left);

        &:before {
            border-left-width: var(--p-divider-size);
            border-left-style: initial;
            border-left-color: var(--p-divider-color);
        }

        .p-divider-content {
            padding: var(--p-inline-spacing) 0;
        }
    }
}
