.p-fieldset {
    color: $fieldsetColor;
    background: $fieldsetBackground;
    border-width: $fieldsetBorderWidth;
    border-style: $fieldsetBorderStyle;
    border-color: $fieldsetBorderColor;
    border-radius: $borderRadius;

    .p-fieldset-legend {
        font-size: $fieldsetLegendFontSize;
        font-weight: $fieldsetLegendFontWeight;
        color: $fieldsetLegendColor;
        background: $fieldsetLegendBackground;
        padding-top: $fieldsetLegendPaddingTop;
        padding-right: $fieldsetLegendPaddingRight;
        padding-bottom: $fieldsetLegendPaddingBottom;
        padding-left: $fieldsetLegendPaddingLeft;
        border-width: $fieldsetLegendBorderWidth;
        border-style: $fieldsetLegendBorderStyle;
        border-color: $fieldsetLegendBorderColor;
        border-radius: $borderRadius;
    }

    &.p-fieldset-toggleable {
        .p-fieldset-legend {
            padding: 0;
            transition-duration: $transitionDuration;
            transition-property: $transitionProperty;

            a {
                color: $fieldsetLegendColor;
                padding-top: $fieldsetLegendPaddingTop;
                padding-right: $fieldsetLegendPaddingRight;
                padding-bottom: $fieldsetLegendPaddingBottom;
                padding-left: $fieldsetLegendPaddingLeft;
                transition-duration: $transitionDuration;
                transition-property: $transitionProperty;

                .p-fieldset-toggler {
                    margin-right: $inlineSpacing;
                }

                &:focus {
                    outline-color: $fieldsetToggleableLegendFocusOutlineColor;
                    outline-style: $fieldsetToggleableLegendFocusOutlineStyle;
                    outline-width: $fieldsetToggleableLegendFocusOutlineWidth;
                    outline-offset: $fieldsetToggleableLegendFocusOutlineOffset;
                    box-shadow: $fieldsetToggleableLegendFocusBoxShadow;
                }

                &:hover {
                    color: $fieldsetToggleableLegendHoverColor;
                }
            }

            &:hover {
                color: $fieldsetToggleableLegendHoverColor;
                background: $fieldsetToggleableLegendHoverBackground;
                border-width: $fieldsetToggleableLegendHoverBorderWidth;
                border-style: $fieldsetToggleableLegendHoverBorderStyle;
                border-color: $fieldsetToggleableLegendHoverBorderColor;
            }
        }
    }

    .p-fieldset-content {
        padding-top: $fieldsetContentPaddingTop;
        padding-right: $fieldsetContentPaddingRight;
        padding-bottom: $fieldsetContentPaddingBottom;
        padding-left: $fieldsetContentPaddingLeft;
    }
}
