.p-fieldset {
    color: var(--p-fieldset-color);
    background: var(--p-fieldset-background);
    border-width: var(--p-fieldset-border-width);
    border-style: var(--p-fieldset-border-style);
    border-color: var(--p-fieldset-border-color);
    border-radius: var(--p-border-radius);

    .p-fieldset-legend {
        font-size: var(--p-fieldset-legend-font-size);
        font-weight: var(--p-fieldset-legend-font-weight);
        color: var(--p-fieldset-legend-color);
        background: var(--p-fieldset-legend-background);
        padding-top: var(--p-fieldset-legend-padding-top);
        padding-right: var(--p-fieldset-legend-padding-right);
        padding-bottom: var(--p-fieldset-legend-padding-bottom);
        padding-left: var(--p-fieldset-legend-padding-left);
        border-width: var(--p-fieldset-legend-border-width);
        border-style: var(--p-fieldset-legend-border-style);
        border-color: var(--p-fieldset-legend-border-color);
        border-radius: var(--p-border-radius);
    }

    &.p-fieldset-toggleable {
        .p-fieldset-legend {
            padding: 0;
            transition-duration: var(--p-transition-duration);
            transition-property: var(--p-transition-property);

            a {
                color: var(--p-fieldset-legend-color);
                padding-top: var(--p-fieldset-legend-padding-top);
                padding-right: var(--p-fieldset-legend-padding-right);
                padding-bottom: var(--p-fieldset-legend-padding-bottom);
                padding-left: var(--p-fieldset-legend-padding-left);
                transition-duration: var(--p-transition-duration);
                transition-property: var(--p-transition-property);

                .p-fieldset-toggler {
                    margin-right: var(--p-inline-spacing);
                }

                &:focus {
                    outline-color: var(--p-fieldset-toggleable-legend-focus-outline-color);
                    outline-style: var(--p-fieldset-toggleable-legend-focus-outline-style);
                    outline-width: var(--p-fieldset-toggleable-legend-focus-outline-width);
                    outline-offset: var(--p-fieldset-toggleable-legend-focus-outline-offset);
                    box-shadow: var(--p-fieldset-toggleable-legend-focus-box-shadow);
                }

                &:hover {
                    color: var(--p-fieldset-toggleable-legend-hover-color);
                }
            }

            &:hover {
                color: var(--p-fieldset-toggleable-legend-hover-color);
                background: var(--p-fieldset-toggleable-legend-hover-background);
                border-width: var(--p-fieldset-toggleable-legend-hover-border-width);
                border-style: var(--p-fieldset-toggleable-legend-hover-border-style);
                border-color: var(--p-fieldset-toggleable-legend-hover-border-color);
            }
        }
    }

    .p-fieldset-content {
        padding-top: var(--p-fieldset-content-padding-top);
        padding-right: var(--p-fieldset-content-padding-right);
        padding-bottom: var(--p-fieldset-content-padding-bottom);
        padding-left: var(--p-fieldset-content-padding-left);
    }
}
