.p-panel {
    .p-panel-header {
        color: $panelHeaderColor;
        background: $panelHeaderBackground;
        padding-top: $panelHeaderPaddingTop;
        padding-right: $panelHeaderPaddingRight;
        padding-bottom: $panelHeaderPaddingBottom;
        padding-left: $panelHeaderPaddingLeft;
        border-width: $panelHeaderBorderWidth;
        border-style: $panelHeaderBorderStyle;
        border-color: $panelHeaderBorderColor;
        border-top-right-radius: $panelBorderRadius;
        border-top-left-radius: $panelBorderRadius;

        .p-panel-title {
            font-size: $panelHeaderFontSize;
            font-weight: $panelHeaderFontWeight;
        }

        .p-panel-header-icon {
            width: $panelHeaderIconWidth;
            height: $panelHeaderIconHeight;
            color: $panelHeaderIconColor;
            background: $panelHeaderIconBackground;
            border-width: $panelHeaderIconBorderWidth;
            border-style: $panelHeaderIconBorderStyle;
            border-color: $panelHeaderIconBorderColor;
            border-radius: $panelHeaderIconBorderRadius;
            transition-duration: $transitionDuration;
            transition-property: $transitionProperty;

            &:enabled:hover {
                color: $panelHeaderIconHoverColor;
                background: $panelHeaderIconHoverBackground;
                border-width: $panelHeaderIconHoverBorderWidth;
                border-style: $panelHeaderIconHoverBorderStyle;
                border-color: $panelHeaderIconHoverBorderColor;
            }

            &:focus {
                outline-color: $panelHeaderIconFocusOutlineColor;
                outline-style: $panelHeaderIconFocusOutlineStyle;
                outline-width: $panelHeaderIconFocusOutlineWidth;
                outline-offset: $panelHeaderIconFocusOutlineOffset;
                box-shadow: $panelHeaderIconFocusBoxShadow;
            }
        }
    }

    &.p-panel-toggleable {
        .p-panel-header {
            padding-top: $panelToggleableHeaderPaddingTop;
            padding-right: $panelToggleableHeaderPaddingRight;
            padding-bottom: $panelToggleableHeaderPaddingBottom;
            padding-left: $panelToggleableHeaderPaddingLeft;
        }
    }

    .p-panel-content {
        color: $panelContentColor;
        background: $panelContentBackground;
        padding-top: $panelContentPaddingTop;
        padding-right: $panelContentPaddingRight;
        padding-bottom: $panelContentPaddingBottom;
        padding-left: $panelContentPaddingLeft;
        border-width: $panelContentBorderWidth;
        border-style: $panelContentBorderStyle;
        border-color: $panelContentBorderColor;
        border-top: 0 none;

        &:last-child {
            border-bottom-right-radius: $borderRadius;
            border-bottom-left-radius: $borderRadius;
        }
    }

    .p-panel-footer {
        color: $panelFooterColor;
        background: $panelFooterBackground;
        padding-top: $panelFooterPaddingTop;
        padding-right: $panelFooterPaddingRight;
        padding-bottom: $panelFooterPaddingBottom;
        padding-left: $panelFooterPaddingLeft;
        border-width: $panelFooterBorderWidth;
        border-style: $panelFooterBorderStyle;
        border-color: $panelFooterBorderColor;
        border-bottom-right-radius: $borderRadius;
        border-bottom-left-radius: $borderRadius;
        border-top: 0 none;
    }
}
