.p-scrollpanel {
    .p-scrollpanel-bar {
        background: $scrollPanelThumbBackground;
        border-width: $scrollPanelThumbBorderWidth;
        border-style: $scrollPanelThumbBorderStyle;
        border-color: $scrollPanelThumbBorderColor;
        transition-duration: $transitionDuration;
        transition-property: $transitionProperty;

        &:focus {
            outline-color: $scrollPanelThumbFocusOutlineColor;
            outline-style: $scrollPanelThumbFocusOutlineStyle;
            outline-width: $scrollPanelThumbFocusOutlineWidth;
            outline-offset: $scrollPanelThumbFocusOutlineOffset;
            box-shadow: $scrollPanelThumbFocusBoxShadow;
        }
    }
}
