.p-scrollpanel {
    .p-scrollpanel-bar {
        background: $scrollPanelTrackBg;
        border: $scrollPanelTrackBorder;
        transition: $formElementTransition;
        outline-color: transparent;

        &:focus-visible {
            @include focused();
        }
    }
}