.p-splitter {
    color: $splitterColor;
    background: $splitterBackground;
    border-width: $splitterBorderWidth;
    border-style: $splitterBorderStyle;
    border-color: $splitterBorderColor;
    border-radius: $borderRadius;

    .p-splitter-gutter {
        background: $splitterGutterBackground;
        transition-duration: $transitionDuration;
        transition-property: $transitionProperty;

        .p-splitter-gutter-handle {
            background: $splitterGutterHandleBackground;
            transition-duration: $transitionDuration;
            transition-property: $transitionProperty;

            &:focus {
                outline-color: $splitterGutterHandleFocusOutlineColor;
                outline-style: $splitterGutterHandleFocusOutlineStyle;
                outline-width: $splitterGutterHandleFocusOutlineWidth;
                outline-offset: $splitterGutterHandleFocusOutlineOffset;
                box-shadow: $splitterGutterHandleFocusBoxShadow;
            }
        }
    }

    .p-splitter-gutter-resizing {
        background: $splitterGutterHandleBackground;
    }
}
