.p-toolbar {
    background: $toolbarBackground;
    padding-top: $toolbarPaddingTop;
    padding-right: $toolbarPaddingRight;
    padding-bottom: $toolbarPaddingBottom;
    padding-left: $toolbarPaddingLeft;
    border-width: $toolbarBorderWidth;
    border-style: $toolbarBorderStyle;
    border-color: $toolbarBorderColor;
    border-radius: $borderRadius;
    gap: $inlineSpacing;

    .p-toolbar-separator {
        margin: 0 $inlineSpacing;
    }
}
