.p-toolbar {
    background: var(--p-toolbar-background);
    padding-top: var(--p-toolbar-padding-top);
    padding-right: var(--p-toolbar-padding-right);
    padding-bottom: var(--p-toolbar-padding-bottom);
    padding-left: var(--p-toolbar-padding-left);
    border-width: var(--p-toolbar-border-width);
    border-style: var(--p-toolbar-border-style);
    border-color: var(--p-toolbar-border-color);
    border-radius: var(--p-border-radius);
    gap: var(--p-inline-spacing);

    .p-toolbar-separator {
        margin: 0 var(--p-inline-spacing);
    }
}
