.p-splitbutton {
    border-radius: var(--p-border-radius);

    &.p-button-outlined {
        > .p-button {
            color: var(--p-splitbutton-outlined-button-color);
            background: var(--p-splitbutton-outlined-button-background);
            border-width: var(--p-splitbutton-outlined-button-border-width);
            border-style: var(--p-splitbutton-outlined-button-border-style);
            border-color: var(--p-splitbutton-outlined-button-border-color);

            &:enabled,
            &:not(button):not(a):not(.p-disabled) {
                &:hover {
                    color: var(--p-splitbutton-outlined-button-hover-color);
                    background: var(--p-splitbutton-outlined-button-hover-background);
                }

                &:active {
                    color: var(--p-splitbutton-outlined-button-active-color);
                    background: var(--p-splitbutton-outlined-button-active-background);
                }
            }
        }

        &.p-button-plain {
            > .p-button {
                color: var(--p-splitbutton-plain-button-color);
                border-width: var(--p-splitbutton-plain-button-border-width);
                border-style: var(--p-splitbutton-plain-button-border-style);
                border-color: var(--p-splitbutton-plain-button-border-color);

                &:enabled,
                &:not(button):not(a):not(.p-disabled) {
                    &:hover {
                        color: var(--p-splitbutton-plain-button-hover-color);
                        background: var(--p-splitbutton-plain-button-hover-background);
                    }

                    &:active {
                        color: var(--p-splitbutton-plain-button-active-color);
                        background: var(--p-splitbutton-plain-button-active-background);
                    }
                }
            }
        }
    }

    &.p-button-text {
        > .p-button {
            color: var(--p-splitbutton-text-button-color);
            background: var(--p-splitbutton-text-button-background);
            border-width: var(--p-splitbutton-text-button-border-width);
            border-style: var(--p-splitbutton-text-button-border-style);
            border-color: var(--p-splitbutton-text-button-border-color);

            &:enabled,
            &:not(button):not(a):not(.p-disabled) {
                &:hover {
                    color: var(--p-splitbutton-text-button-hover-color);
                    background: var(--p-splitbutton-text-button-hover-background);
                    border-width: var(--p-splitbutton-text-button-hover-border-width);
                    border-style: var(--p-splitbutton-text-button-hover-border-style);
                    border-color: var(--p-splitbutton-text-button-hover-border-color);
                }

                &:active {
                    color: var(--p-splitbutton-text-button-active-color);
                    background: var(--p-splitbutton-text-button-active-background);
                    border-width: var(--p-splitbutton-text-button-active-border-width);
                    border-style: var(--p-splitbutton-text-button-active-border-style);
                    border-color: var(--p-splitbutton-text-button-active-border-color);
                }
            }
        }

        &.p-button-plain {
            > .p-button {
                color: var(--p-splitbutton-plain-button-color);

                &:enabled,
                &:not(button):not(a):not(.p-disabled) {
                    &:hover {
                        color: var(--p-splitbutton-plain-button-hover-color);
                        background: var(--p-splitbutton-plain-button-hover-background);
                    }

                    &:active {
                        color: var(--p-splitbutton-plain-button-active-color);
                        background: var(--p-splitbutton-plain-button-active-background);
                    }
                }
            }
        }
    }

    &.p-button-raised {
        box-shadow: var(--p-splitbutton-raised-box-shadow);
    }

    &.p-button-rounded {
        border-width: var(--p-splitbutton-rounded-border-width);
        border-style: var(--p-splitbutton-rounded-border-style);
        border-color: var(--p-splitbutton-rounded-border-color);
        border-radius: var(--p-splitbutton-rounded-border-radius);

        > .p-button {
            border-width: var(--p-splitbutton-rounded-button-border-width);
            border-style: var(--p-splitbutton-rounded-button-border-style);
            border-color: var(--p-splitbutton-rounded-button-border-color);
            border-radius: var(--p-splitbutton-rounded-button-border-radius);
        }
    }

    &.p-button-sm {
        > .p-button {
            font-size: var(--p-splitbutton-small-button-font-size);
            font-weight: var(--p-splitbutton-small-button-font-weight);
            padding-top: var(--p-splitbutton-small-button-padding-top);
            padding-right: var(--p-splitbutton-small-button-padding-right);
            padding-bottom: var(--p-splitbutton-small-button-padding-bottom);
            padding-left: var(--p-splitbutton-small-button-padding-left);

            .p-button-icon {
                font-size: var(--p-splitbutton-small-button-icon-font-size);
                font-weight: var(--p-splitbutton-small-button-icon-font-weight);
            }
        }
    }

    &.p-button-lg {
        > .p-button {
            font-size: var(--p-splitbutton-large-button-font-size);
            font-weight: var(--p-splitbutton-large-button-font-weight);
            padding-top: var(--p-splitbutton-large-button-padding-top);
            padding-right: var(--p-splitbutton-large-button-padding-right);
            padding-bottom: var(--p-splitbutton-large-button-padding-bottom);
            padding-left: var(--p-splitbutton-large-button-padding-left);

            .p-button-icon {
                font-size: var(--p-splitbutton-large-button-icon-font-size);
                font-weight: var(--p-splitbutton-large-button-icon-font-weight);
            }
        }
    }
}

.p-splitbutton.p-button-secondary {
    &.p-button-outlined {
        > .p-button {
            color: var(--p-splitbutton-secondary-outlined-button-color);
            background: var(--p-splitbutton-secondary-outlined-button-background);
            border-width: var(--p-splitbutton-secondary-outlined-button-border-width);
            border-style: var(--p-splitbutton-secondary-outlined-button-border-style);
            border-color: var(--p-splitbutton-secondary-outlined-button-border-color);

            &:enabled,
            &:not(button):not(a):not(.p-disabled) {
                &:hover {
                    color: var(--p-splitbutton-secondary-outlined-button-hover-color);
                    background: var(--p-splitbutton-secondary-outlined-button-hover-background);
                }

                &:active {
                    color: var(--p-splitbutton-secondary-outlined-button-active-color);
                    background: var(--p-splitbutton-secondary-outlined-button-active-background);
                }
            }
        }
    }

    &.p-button-text {
        > .p-button {
            color: var(--p-splitbutton-secondary-text-button-color);
            background: var(--p-splitbutton-secondary-text-button-background);
            border-width: var(--p-splitbutton-secondary-text-button-border-width);
            border-style: var(--p-splitbutton-secondary-text-button-border-style);
            border-color: var(--p-splitbutton-secondary-text-button-border-color);

            &:enabled,
            &:not(button):not(a):not(.p-disabled) {
                &:hover {
                    color: var(--p-splitbutton-secondary-text-button-hover-color);
                    background: var(--p-splitbutton-secondary-text-button-hover-background);
                    border-width: var(--p-splitbutton-secondary-text-button-hover-border-width);
                    border-style: var(--p-splitbutton-secondary-text-button-hover-border-style);
                    border-color: var(--p-splitbutton-secondary-text-button-hover-border-color);
                }

                &:active {
                    color: var(--p-splitbutton-secondary-text-button-active-color);
                    background: var(--p-splitbutton-secondary-text-button-active-background);
                    border-width: var(--p-splitbutton-secondary-text-button-active-border-width);
                    border-style: var(--p-splitbutton-secondary-text-button-active-border-style);
                    border-color: var(--p-splitbutton-secondary-text-button-active-border-color);
                }
            }
        }
    }
}

.p-splitbutton.p-button-info {
    &.p-button-outlined {
        > .p-button {
            color: var(--p-splitbutton-info-outlined-button-color);
            background: var(--p-splitbutton-info-outlined-button-background);
            border-width: var(--p-splitbutton-info-outlined-button-border-width);
            border-style: var(--p-splitbutton-info-outlined-button-border-style);
            border-color: var(--p-splitbutton-info-outlined-button-border-color);

            &:enabled,
            &:not(button):not(a):not(.p-disabled) {
                &:hover {
                    color: var(--p-splitbutton-info-outlined-button-hover-color);
                    background: var(--p-splitbutton-info-outlined-button-hover-background);
                }

                &:active {
                    color: var(--p-splitbutton-info-outlined-button-active-color);
                    background: var(--p-splitbutton-info-outlined-button-active-background);
                }
            }
        }
    }

    &.p-button-text {
        > .p-button {
            color: var(--p-splitbutton-info-text-button-color);
            background: var(--p-splitbutton-info-text-button-background);
            border-width: var(--p-splitbutton-info-text-button-border-width);
            border-style: var(--p-splitbutton-info-text-button-border-style);
            border-color: var(--p-splitbutton-info-text-button-border-color);

            &:enabled,
            &:not(button):not(a):not(.p-disabled) {
                &:hover {
                    color: var(--p-splitbutton-info-text-button-hover-color);
                    background: var(--p-splitbutton-info-text-button-hover-background);
                    border-width: var(--p-splitbutton-info-text-button-hover-border-width);
                    border-style: var(--p-splitbutton-info-text-button-hover-border-style);
                    border-color: var(--p-splitbutton-info-text-button-hover-border-color);
                }

                &:active {
                    color: var(--p-splitbutton-info-text-button-active-color);
                    background: var(--p-splitbutton-info-text-button-active-background);
                    border-width: var(--p-splitbutton-info-text-button-active-border-width);
                    border-style: var(--p-splitbutton-info-text-button-active-border-style);
                    border-color: var(--p-splitbutton-info-text-button-active-border-color);
                }
            }
        }
    }
}

.p-splitbutton.p-button-success {
    &.p-button-outlined {
        > .p-button {
            color: var(--p-splitbutton-success-outlined-button-color);
            background: var(--p-splitbutton-success-outlined-button-background);
            border-width: var(--p-splitbutton-success-outlined-button-border-width);
            border-style: var(--p-splitbutton-success-outlined-button-border-style);
            border-color: var(--p-splitbutton-success-outlined-button-border-color);

            &:enabled,
            &:not(button):not(a):not(.p-disabled) {
                &:hover {
                    color: var(--p-splitbutton-success-outlined-button-hover-color);
                    background: var(--p-splitbutton-success-outlined-button-hover-background);
                }

                &:active {
                    color: var(--p-splitbutton-success-outlined-button-active-color);
                    background: var(--p-splitbutton-success-outlined-button-active-background);
                }
            }
        }
    }

    &.p-button-text {
        > .p-button {
            color: var(--p-splitbutton-success-text-button-color);
            background: var(--p-splitbutton-success-text-button-background);
            border-width: var(--p-splitbutton-success-text-button-border-width);
            border-style: var(--p-splitbutton-success-text-button-border-style);
            border-color: var(--p-splitbutton-success-text-button-border-color);

            &:enabled,
            &:not(button):not(a):not(.p-disabled) {
                &:hover {
                    color: var(--p-splitbutton-success-text-button-hover-color);
                    background: var(--p-splitbutton-success-text-button-hover-background);
                    border-width: var(--p-splitbutton-success-text-button-hover-border-width);
                    border-style: var(--p-splitbutton-success-text-button-hover-border-style);
                    border-color: var(--p-splitbutton-success-text-button-hover-border-color);
                }

                &:active {
                    color: var(--p-splitbutton-success-text-button-active-color);
                    background: var(--p-splitbutton-success-text-button-active-background);
                    border-width: var(--p-splitbutton-success-text-button-active-border-width);
                    border-style: var(--p-splitbutton-success-text-button-active-border-style);
                    border-color: var(--p-splitbutton-success-text-button-active-border-color);
                }
            }
        }
    }
}

.p-splitbutton.p-button-warning {
    &.p-button-outlined {
        > .p-button {
            color: var(--p-splitbutton-warning-outlined-button-color);
            background: var(--p-splitbutton-warning-outlined-button-background);
            border-width: var(--p-splitbutton-warning-outlined-button-border-width);
            border-style: var(--p-splitbutton-warning-outlined-button-border-style);
            border-color: var(--p-splitbutton-warning-outlined-button-border-color);

            &:enabled,
            &:not(button):not(a):not(.p-disabled) {
                &:hover {
                    color: var(--p-splitbutton-warning-outlined-button-hover-color);
                    background: var(--p-splitbutton-warning-outlined-button-hover-background);
                }

                &:active {
                    color: var(--p-splitbutton-warning-outlined-button-active-color);
                    background: var(--p-splitbutton-warning-outlined-button-active-background);
                }
            }
        }
    }

    &.p-button-text {
        > .p-button {
            color: var(--p-splitbutton-warning-text-button-color);
            background: var(--p-splitbutton-warning-text-button-background);
            border-width: var(--p-splitbutton-warning-text-button-border-width);
            border-style: var(--p-splitbutton-warning-text-button-border-style);
            border-color: var(--p-splitbutton-warning-text-button-border-color);

            &:enabled,
            &:not(button):not(a):not(.p-disabled) {
                &:hover {
                    color: var(--p-splitbutton-warning-text-button-hover-color);
                    background: var(--p-splitbutton-warning-text-button-hover-background);
                    border-width: var(--p-splitbutton-warning-text-button-hover-border-width);
                    border-style: var(--p-splitbutton-warning-text-button-hover-border-style);
                    border-color: var(--p-splitbutton-warning-text-button-hover-border-color);
                }

                &:active {
                    color: var(--p-splitbutton-warning-text-button-active-color);
                    background: var(--p-splitbutton-warning-text-button-active-background);
                    border-width: var(--p-splitbutton-warning-text-button-active-border-width);
                    border-style: var(--p-splitbutton-warning-text-button-active-border-style);
                    border-color: var(--p-splitbutton-warning-text-button-active-border-color);
                }
            }
        }
    }
}

.p-splitbutton.p-button-help {
    &.p-button-outlined {
        > .p-button {
            color: var(--p-splitbutton-help-outlined-button-color);
            background: var(--p-splitbutton-help-outlined-button-background);
            border-width: var(--p-splitbutton-help-outlined-button-border-width);
            border-style: var(--p-splitbutton-help-outlined-button-border-style);
            border-color: var(--p-splitbutton-help-outlined-button-border-color);

            &:enabled,
            &:not(button):not(a):not(.p-disabled) {
                &:hover {
                    color: var(--p-splitbutton-help-outlined-button-hover-color);
                    background: var(--p-splitbutton-help-outlined-button-hover-background);
                }

                &:active {
                    color: var(--p-splitbutton-help-outlined-button-active-color);
                    background: var(--p-splitbutton-help-outlined-button-active-background);
                }
            }
        }
    }

    &.p-button-text {
        > .p-button {
            color: var(--p-splitbutton-help-text-button-color);
            background: var(--p-splitbutton-help-text-button-background);
            border-width: var(--p-splitbutton-help-text-button-border-width);
            border-style: var(--p-splitbutton-help-text-button-border-style);
            border-color: var(--p-splitbutton-help-text-button-border-color);

            &:enabled,
            &:not(button):not(a):not(.p-disabled) {
                &:hover {
                    color: var(--p-splitbutton-help-text-button-hover-color);
                    background: var(--p-splitbutton-help-text-button-hover-background);
                    border-width: var(--p-splitbutton-help-text-button-hover-border-width);
                    border-style: var(--p-splitbutton-help-text-button-hover-border-style);
                    border-color: var(--p-splitbutton-help-text-button-hover-border-color);
                }

                &:active {
                    color: var(--p-splitbutton-help-text-button-active-color);
                    background: var(--p-splitbutton-help-text-button-active-background);
                    border-width: var(--p-splitbutton-help-text-button-active-border-width);
                    border-style: var(--p-splitbutton-help-text-button-active-border-style);
                    border-color: var(--p-splitbutton-help-text-button-active-border-color);
                }
            }
        }
    }
}

.p-splitbutton.p-button-danger {
    &.p-button-outlined {
        > .p-button {
            color: var(--p-splitbutton-danger-outlined-button-color);
            background: var(--p-splitbutton-danger-outlined-button-background);
            border-width: var(--p-splitbutton-danger-outlined-button-border-width);
            border-style: var(--p-splitbutton-danger-outlined-button-border-style);
            border-color: var(--p-splitbutton-danger-outlined-button-border-color);

            &:enabled,
            &:not(button):not(a):not(.p-disabled) {
                &:hover {
                    color: var(--p-splitbutton-danger-outlined-button-hover-color);
                    background: var(--p-splitbutton-danger-outlined-button-hover-background);
                }

                &:active {
                    color: var(--p-splitbutton-danger-outlined-button-active-color);
                    background: var(--p-splitbutton-danger-outlined-button-active-background);
                }
            }
        }
    }

    &.p-button-text {
        > .p-button {
            color: var(--p-splitbutton-danger-text-button-color);
            background: var(--p-splitbutton-danger-text-button-background);
            border-width: var(--p-splitbutton-danger-text-button-border-width);
            border-style: var(--p-splitbutton-danger-text-button-border-style);
            border-color: var(--p-splitbutton-danger-text-button-border-color);

            &:enabled,
            &:not(button):not(a):not(.p-disabled) {
                &:hover {
                    color: var(--p-splitbutton-danger-text-button-hover-color);
                    background: var(--p-splitbutton-danger-text-button-hover-background);
                    border-width: var(--p-splitbutton-danger-text-button-hover-border-width);
                    border-style: var(--p-splitbutton-danger-text-button-hover-border-style);
                    border-color: var(--p-splitbutton-danger-text-button-hover-border-color);
                }

                &:active {
                    color: var(--p-splitbutton-danger-text-button-active-color);
                    background: var(--p-splitbutton-danger-text-button-active-background);
                    border-width: var(--p-splitbutton-danger-text-button-active-border-width);
                    border-style: var(--p-splitbutton-danger-text-button-active-border-style);
                    border-color: var(--p-splitbutton-danger-text-button-active-border-color);
                }
            }
        }
    }
}
