:root {
	--p-button-color: var(--p-primary-text-color);
	--p-button-background: var(--p-primary-color);
	--p-button-border-width: 1px;
	--p-button-border-style: solid;
	--p-button-border-color: var(--p-primary-color);
	--p-button-padding-top: 0.75rem;
	--p-button-padding-right: 1.25rem;
	--p-button-padding-bottom: 0.75rem;
	--p-button-padding-left: 1.25rem;
	--p-button-hover-color: var(--p-primary-text-color);
	--p-button-hover-background: var(--p-primary-dark-color);
	--p-button-hover-border-width: inherit;
	--p-button-hover-border-style: inherit;
	--p-button-hover-border-color: var(--p-primary-dark-color);
	--p-button-active-color: var(--p-primary-text-color);
	--p-button-active-background: var(--p-primary-darker-color);
	--p-button-active-border-width: inherit;
	--p-button-active-border-style: inherit;
	--p-button-active-border-color: var(--p-primary-darker-color);
	--p-button-focus-outline-color: var(--p-primary-light-color);
	--p-button-focus-outline-style: none;
	--p-button-focus-outline-width: 0;
	--p-button-focus-outline-offset: 0;
	--p-button-focus-box-shadow: 0 0 0 0.2rem var(--p-primary-light-color);
	--p-button-badge-min-width: 1rem;
	--p-button-badge-height: 1rem;
	--p-button-badge-line-height: 1rem;
	--p-button-badge-color: var(--p-primary-color);
	--p-button-badge-background: var(--p-primary-text-color);
	--p-button-outlined-color: var(--p-primary-color);
	--p-button-outlined-background: transparent;
	--p-button-outlined-border-width: 1px;
	--p-button-outlined-border-style: solid;
	--p-button-outlined-border-color: initial;
	--p-button-outlined-hover-color: var(--p-primary-color);
	--p-button-outlined-hover-background: color-mix(in srgb, var(--p-primary-color), transparent 4%);
	--p-button-outlined-hover-border-width: 1px;
	--p-button-outlined-hover-border-style: solid;
	--p-button-outlined-hover-border-color: inherit;
	--p-button-outlined-active-color: var(--p-primary-color);
	--p-button-outlined-active-background: color-mix(in srgb, var(--p-primary-color), transparent 16%);
	--p-button-outlined-active-border-width: 1px;
	--p-button-outlined-active-border-style: solid;
	--p-button-outlined-active-border-color: inherit;
	--p-button-plain-color: #6c757d;
	--p-button-plain-border-width: inherit;
	--p-button-plain-border-style: inherit;
	--p-button-plain-border-color: #6c757d;
	--p-button-plain-hover-color: #6c757d;
	--p-button-plain-hover-background: #e9ecef;
	--p-button-plain-active-color: #6c757d;
	--p-button-plain-active-background: #dee2e6;
	--p-button-text-color: var(--p-primary-color);
	--p-button-text-background: transparent;
	--p-button-text-border-width: inherit;
	--p-button-text-border-style: inherit;
	--p-button-text-border-color: transparent;
	--p-button-text-hover-color: var(--p-primary-color);
	--p-button-text-hover-background: color-mix(in srgb, var(--p-primary-color), transparent 4%);
	--p-button-text-hover-border-width: inherit;
	--p-button-text-hover-border-style: inherit;
	--p-button-text-hover-border-color: transparent;
	--p-button-text-active-color: var(--p-primary-color);
	--p-button-text-active-background: color-mix(in srgb, var(--p-primary-color), transparent 16%);
	--p-button-text-active-border-width: inherit;
	--p-button-text-active-border-style: inherit;
	--p-button-text-active-border-color: transparent;
	--p-button-raised-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) ;
	--p-button-rounded-border-width: inherit;
	--p-button-rounded-border-style: inherit;
	--p-button-rounded-border-color: inherit;
	--p-button-rounded-border-radius: 2rem;
	--p-button-icon-only-width: 3rem;
	--p-button-icon-only-padding-top: 0.75rem;
	--p-button-icon-only-padding-right: 0;
	--p-button-icon-only-padding-bottom: 0.75rem;
	--p-button-icon-only-padding-left: 0;
	--p-button-icon-only-icon-margin-top: 0;
	--p-button-icon-only-icon-margin-right: 0;
	--p-button-icon-only-icon-margin-bottom: 0;
	--p-button-icon-only-icon-margin-left: 0;
	--p-button-icon-only-rounded-height: 3rem;
	--p-button-icon-only-rounded-border-width: inherit;
	--p-button-icon-only-rounded-border-style: inherit;
	--p-button-icon-only-rounded-border-color: inherit;
	--p-button-icon-only-rounded-border-radius: 50%;
	--p-button-small-font-size: 0.875rem;
	--p-button-small-font-weight: inherit;
	--p-button-small-padding-top: 0.65625rem;
	--p-button-small-padding-right: 1.09375rem;
	--p-button-small-padding-bottom: 0.65625rem;
	--p-button-small-padding-left: 1.09375rem;
	--p-button-small-icon-font-size: 0.875rem;
	--p-button-small-icon-font-weight: inherit;
	--p-button-large-font-size: 1.25rem;
	--p-button-large-font-weight: inherit;
	--p-button-large-padding-top: 0.9375rem;
	--p-button-large-padding-right: 1.5625rem;
	--p-button-large-padding-bottom: 0.9375rem;
	--p-button-large-padding-left: 1.5625rem;
	--p-button-large-icon-font-size: 1.25rem;
	--p-button-large-icon-font-weight: inherit;
	--p-button-secondary-color: #ffffff;
	--p-button-secondary-background: #64748b;
	--p-button-secondary-border-width: 1px;
	--p-button-secondary-border-style: solid;
	--p-button-secondary-border-color: #64748b;
	--p-button-secondary-hover-color: #ffffff;
	--p-button-secondary-hover-background: #475569;
	--p-button-secondary-hover-border-width: inherit;
	--p-button-secondary-hover-border-style: inherit;
	--p-button-secondary-hover-border-color: #475569;
	--p-button-secondary-focus-box-shadow: 0 0 0 0.2rem #e2e8f0;
	--p-button-secondary-active-color: #ffffff;
	--p-button-secondary-active-background: #334155;
	--p-button-secondary-active-border-width: inherit;
	--p-button-secondary-active-border-style: inherit;
	--p-button-secondary-active-border-color: #334155;
	--p-button-secondary-outlined-color: #64748b;
	--p-button-secondary-outlined-background: transparent;
	--p-button-secondary-outlined-border-width: 1px;
	--p-button-secondary-outlined-border-style: solid;
	--p-button-secondary-outlined-border-color: inherit;
	--p-button-secondary-outlined-hover-color: #64748b;
	--p-button-secondary-outlined-hover-background: rgba(100, 116, 139, 0.04);
	--p-button-secondary-outlined-hover-border-width: 1px;
	--p-button-secondary-outlined-hover-border-style: solid;
	--p-button-secondary-outlined-hover-border-color: inherit;
	--p-button-secondary-outlined-active-color: #64748b;
	--p-button-secondary-outlined-active-background: rgba(100, 116, 139, 0.16);
	--p-button-secondary-outlined-active-border-width: 1px;
	--p-button-secondary-outlined-active-border-style: solid;
	--p-button-secondary-outlined-active-border-color: inherit;
	--p-button-secondary-text-color: #64748b;
	--p-button-secondary-text-background: transparent;
	--p-button-secondary-text-border-width: inherit;
	--p-button-secondary-text-border-style: inherit;
	--p-button-secondary-text-border-color: transparent;
	--p-button-secondary-text-hover-color: #64748b;
	--p-button-secondary-text-hover-background: rgba(100, 116, 139, 0.04);
	--p-button-secondary-text-hover-border-width: inherit;
	--p-button-secondary-text-hover-border-style: inherit;
	--p-button-secondary-text-hover-border-color: transparent;
	--p-button-secondary-text-active-color: #64748b;
	--p-button-secondary-text-active-background: rgba(100, 116, 139, 0.16);
	--p-button-secondary-text-active-border-width: inherit;
	--p-button-secondary-text-active-border-style: inherit;
	--p-button-secondary-text-active-border-color: transparent;
	--p-button-info-color: #ffffff;
	--p-button-info-background: #64748b;
	--p-button-info-border-width: 1px;
	--p-button-info-border-style: solid;
	--p-button-info-border-color: #64748b;
	--p-button-info-hover-color: #ffffff;
	--p-button-info-hover-background: #475569;
	--p-button-info-hover-border-width: inherit;
	--p-button-info-hover-border-style: inherit;
	--p-button-info-hover-border-color: #475569;
	--p-button-info-focus-box-shadow: 0 0 0 0.2rem #e2e8f0;
	--p-button-info-active-color: #ffffff;
	--p-button-info-active-background: #334155;
	--p-button-info-active-border-width: inherit;
	--p-button-info-active-border-style: inherit;
	--p-button-info-active-border-color: #334155;
	--p-button-info-outlined-color: #64748b;
	--p-button-info-outlined-background: transparent;
	--p-button-info-outlined-border-width: 1px;
	--p-button-info-outlined-border-style: solid;
	--p-button-info-outlined-border-color: inherit;
	--p-button-info-outlined-hover-color: #64748b;
	--p-button-info-outlined-hover-background: rgba(100, 116, 139, 0.04);
	--p-button-info-outlined-hover-border-width: 1px;
	--p-button-info-outlined-hover-border-style: solid;
	--p-button-info-outlined-hover-border-color: inherit;
	--p-button-info-outlined-active-color: #64748b;
	--p-button-info-outlined-active-background: rgba(100, 116, 139, 0.16);
	--p-button-info-outlined-active-border-width: 1px;
	--p-button-info-outlined-active-border-style: solid;
	--p-button-info-outlined-active-border-color: inherit;
	--p-button-info-text-color: #64748b;
	--p-button-info-text-background: transparent;
	--p-button-info-text-border-width: inherit;
	--p-button-info-text-border-style: inherit;
	--p-button-info-text-border-color: transparent;
	--p-button-info-text-hover-color: #64748b;
	--p-button-info-text-hover-background: rgba(100, 116, 139, 0.04);
	--p-button-info-text-hover-border-width: inherit;
	--p-button-info-text-hover-border-style: inherit;
	--p-button-info-text-hover-border-color: transparent;
	--p-button-info-text-active-color: #64748b;
	--p-button-info-text-active-background: rgba(100, 116, 139, 0.16);
	--p-button-info-text-active-border-width: inherit;
	--p-button-info-text-active-border-style: inherit;
	--p-button-info-text-active-border-color: transparent;
	--p-button-success-color: #ffffff;
	--p-button-success-background: #22c55e;
	--p-button-success-border-width: 1px;
	--p-button-success-border-style: solid;
	--p-button-success-border-color: #22c55e;
	--p-button-success-hover-color: #ffffff;
	--p-button-success-hover-background: #16a34a;
	--p-button-success-hover-border-width: inherit;
	--p-button-success-hover-border-style: inherit;
	--p-button-success-hover-border-color: #16a34a;
	--p-button-success-focus-box-shadow: 0 0 0 0.2rem #bbf7d0;
	--p-button-success-active-color: #ffffff;
	--p-button-success-active-background: #15803d;
	--p-button-success-active-border-width: inherit;
	--p-button-success-active-border-style: inherit;
	--p-button-success-active-border-color: #15803d;
	--p-button-success-outlined-color: #22c55e;
	--p-button-success-outlined-background: transparent;
	--p-button-success-outlined-border-width: 1px;
	--p-button-success-outlined-border-style: solid;
	--p-button-success-outlined-border-color: inherit;
	--p-button-success-outlined-hover-color: #22c55e;
	--p-button-success-outlined-hover-background: rgba(34, 197, 94, 0.04);
	--p-button-success-outlined-hover-border-width: 1px;
	--p-button-success-outlined-hover-border-style: solid;
	--p-button-success-outlined-hover-border-color: inherit;
	--p-button-success-outlined-active-color: #22c55e;
	--p-button-success-outlined-active-background: rgba(34, 197, 94, 0.16);
	--p-button-success-outlined-active-border-width: 1px;
	--p-button-success-outlined-active-border-style: solid;
	--p-button-success-outlined-active-border-color: inherit;
	--p-button-success-text-color: #22c55e;
	--p-button-success-text-background: transparent;
	--p-button-success-text-border-width: inherit;
	--p-button-success-text-border-style: inherit;
	--p-button-success-text-border-color: transparent;
	--p-button-success-text-hover-color: #22c55e;
	--p-button-success-text-hover-background: rgba(34, 197, 94, 0.04);
	--p-button-success-text-hover-border-width: inherit;
	--p-button-success-text-hover-border-style: inherit;
	--p-button-success-text-hover-border-color: transparent;
	--p-button-success-text-active-color: #22c55e;
	--p-button-success-text-active-background: rgba(34, 197, 94, 0.16);
	--p-button-success-text-active-border-width: inherit;
	--p-button-success-text-active-border-style: inherit;
	--p-button-success-text-active-border-color: transparent;
	--p-button-warning-color: #ffffff;
	--p-button-warning-background: #f59e0b;
	--p-button-warning-border-width: 1px;
	--p-button-warning-border-style: solid;
	--p-button-warning-border-color: #f59e0b;
	--p-button-warning-hover-color: #ffffff;
	--p-button-warning-hover-background: #d97706;
	--p-button-warning-hover-border-width: inherit;
	--p-button-warning-hover-border-style: inherit;
	--p-button-warning-hover-border-color: #d97706;
	--p-button-warning-focus-box-shadow: 0 0 0 0.2rem #fde68a;
	--p-button-warning-active-color: #ffffff;
	--p-button-warning-active-background: #b45309;
	--p-button-warning-active-border-width: inherit;
	--p-button-warning-active-border-style: inherit;
	--p-button-warning-active-border-color: #b45309;
	--p-button-warning-outlined-color: #f59e0b;
	--p-button-warning-outlined-background: transparent;
	--p-button-warning-outlined-border-width: 1px;
	--p-button-warning-outlined-border-style: solid;
	--p-button-warning-outlined-border-color: inherit;
	--p-button-warning-outlined-hover-color: #f59e0b;
	--p-button-warning-outlined-hover-background: rgba(245, 158, 11, 0.04);
	--p-button-warning-outlined-hover-border-width: 1px;
	--p-button-warning-outlined-hover-border-style: solid;
	--p-button-warning-outlined-hover-border-color: inherit;
	--p-button-warning-outlined-active-color: #f59e0b;
	--p-button-warning-outlined-active-background: rgba(245, 158, 11, 0.16);
	--p-button-warning-outlined-active-border-width: 1px;
	--p-button-warning-outlined-active-border-style: solid;
	--p-button-warning-outlined-active-border-color: inherit;
	--p-button-warning-text-color: #f59e0b;
	--p-button-warning-text-background: transparent;
	--p-button-warning-text-border-width: inherit;
	--p-button-warning-text-border-style: inherit;
	--p-button-warning-text-border-color: transparent;
	--p-button-warning-text-hover-color: #f59e0b;
	--p-button-warning-text-hover-background: rgba(245, 158, 11, 0.04);
	--p-button-warning-text-hover-border-width: inherit;
	--p-button-warning-text-hover-border-style: inherit;
	--p-button-warning-text-hover-border-color: transparent;
	--p-button-warning-text-active-color: #f59e0b;
	--p-button-warning-text-active-background: rgba(245, 158, 11, 0.16);
	--p-button-warning-text-active-border-width: inherit;
	--p-button-warning-text-active-border-style: inherit;
	--p-button-warning-text-active-border-color: transparent;
	--p-button-help-color: #ffffff;
	--p-button-help-background: #a855f7;
	--p-button-help-border-width: 1px;
	--p-button-help-border-style: solid;
	--p-button-help-border-color: #a855f7;
	--p-button-help-hover-color: #ffffff;
	--p-button-help-hover-background: #9333ea;
	--p-button-help-hover-border-width: inherit;
	--p-button-help-hover-border-style: inherit;
	--p-button-help-hover-border-color: #9333ea;
	--p-button-help-focus-box-shadow: 0 0 0 0.2rem #e9d5ff;
	--p-button-help-active-color: #ffffff;
	--p-button-help-active-background: #7e22ce;
	--p-button-help-active-border-width: inherit;
	--p-button-help-active-border-style: inherit;
	--p-button-help-active-border-color: #7e22ce;
	--p-button-help-outlined-color: #a855f7;
	--p-button-help-outlined-background: transparent;
	--p-button-help-outlined-border-width: 1px;
	--p-button-help-outlined-border-style: solid;
	--p-button-help-outlined-border-color: inherit;
	--p-button-help-outlined-hover-color: #a855f7;
	--p-button-help-outlined-hover-background: rgba(168, 85, 247, 0.04);
	--p-button-help-outlined-hover-border-width: 1px;
	--p-button-help-outlined-hover-border-style: solid;
	--p-button-help-outlined-hover-border-color: inherit;
	--p-button-help-outlined-active-color: #a855f7;
	--p-button-help-outlined-active-background: rgba(168, 85, 247, 0.16);
	--p-button-help-outlined-active-border-width: 1px;
	--p-button-help-outlined-active-border-style: solid;
	--p-button-help-outlined-active-border-color: inherit;
	--p-button-help-text-color: #a855f7;
	--p-button-help-text-background: transparent;
	--p-button-help-text-border-width: inherit;
	--p-button-help-text-border-style: inherit;
	--p-button-help-text-border-color: transparent;
	--p-button-help-text-hover-color: #a855f7;
	--p-button-help-text-hover-background: rgba(168, 85, 247, 0.04);
	--p-button-help-text-hover-border-width: inherit;
	--p-button-help-text-hover-border-style: inherit;
	--p-button-help-text-hover-border-color: transparent;
	--p-button-help-text-active-color: #a855f7;
	--p-button-help-text-active-background: rgba(168, 85, 247, 0.16);
	--p-button-help-text-active-border-width: inherit;
	--p-button-help-text-active-border-style: inherit;
	--p-button-help-text-active-border-color: transparent;
	--p-button-danger-color: #ffffff;
	--p-button-danger-background: #ef4444;
	--p-button-danger-border-width: 1px;
	--p-button-danger-border-style: solid;
	--p-button-danger-border-color: #ef4444;
	--p-button-danger-hover-color: #ffffff;
	--p-button-danger-hover-background: #dc2626;
	--p-button-danger-hover-border-width: inherit;
	--p-button-danger-hover-border-style: inherit;
	--p-button-danger-hover-border-color: #dc2626;
	--p-button-danger-focus-box-shadow: 0 0 0 0.2rem #e2e8f0;
	--p-button-danger-active-color: #ffffff;
	--p-button-danger-active-background: #b91c1c;
	--p-button-danger-active-border-width: inherit;
	--p-button-danger-active-border-style: inherit;
	--p-button-danger-active-border-color: #b91c1c;
	--p-button-danger-outlined-color: #ef4444;
	--p-button-danger-outlined-background: transparent;
	--p-button-danger-outlined-border-width: 1px;
	--p-button-danger-outlined-border-style: solid;
	--p-button-danger-outlined-border-color: inherit;
	--p-button-danger-outlined-hover-color: #ef4444;
	--p-button-danger-outlined-hover-background: rgba(239, 68, 68, 0.04);
	--p-button-danger-outlined-hover-border-width: 1px;
	--p-button-danger-outlined-hover-border-style: solid;
	--p-button-danger-outlined-hover-border-color: inherit;
	--p-button-danger-outlined-active-color: #ef4444;
	--p-button-danger-outlined-active-background: rgba(239, 68, 68, 0.16);
	--p-button-danger-outlined-active-border-width: 1px;
	--p-button-danger-outlined-active-border-style: solid;
	--p-button-danger-outlined-active-border-color: inherit;
	--p-button-danger-text-color: #ef4444;
	--p-button-danger-text-background: transparent;
	--p-button-danger-text-border-width: inherit;
	--p-button-danger-text-border-style: inherit;
	--p-button-danger-text-border-color: transparent;
	--p-button-danger-text-hover-color: #ef4444;
	--p-button-danger-text-hover-background: rgba(239, 68, 68, 0.04);
	--p-button-danger-text-hover-border-width: inherit;
	--p-button-danger-text-hover-border-style: inherit;
	--p-button-danger-text-hover-border-color: transparent;
	--p-button-danger-text-active-color: #ef4444;
	--p-button-danger-text-active-background: rgba(239, 68, 68, 0.16);
	--p-button-danger-text-active-border-width: inherit;
	--p-button-danger-text-active-border-style: inherit;
	--p-button-danger-text-active-border-color: transparent;
	--p-button-link-color: var(--p-primary-darker-color);
	--p-button-link-background: transparent;
	--p-button-link-border-width: inherit;
	--p-button-link-border-style: inherit;
	--p-button-link-border-color: transparent;
	--p-button-link-hover-color: var(--p-primary-darker-color);
	--p-button-link-hover-background: transparent;
	--p-button-link-hover-border-width: inherit;
	--p-button-link-hover-border-style: inherit;
	--p-button-link-hover-border-color: transparent;
	--p-button-link-hover-affects-label-text-decoration: underline;
	--p-button-link-focus-background: transparent;
	--p-button-link-focus-box-shadow: 0 0 0 0.2rem var(--p-primary-light-color);
	--p-button-link-focus-border-width: inherit;
	--p-button-link-focus-border-style: inherit;
	--p-button-link-focus-border-color: transparent;
	--p-button-link-active-color: var(--p-primary-darker-color);
	--p-button-link-active-background: transparent;
	--p-button-link-active-border-width: inherit;
	--p-button-link-active-border-style: inherit;
	--p-button-link-active-border-color: transparent;
}