:root {
	--p-splitbutton-outlined-button-color: color-mix(in srgb, var(--p-primary-color), transparent 100%);
	--p-splitbutton-outlined-button-background: transparent;
	--p-splitbutton-outlined-button-border-width: 1px;
	--p-splitbutton-outlined-button-border-style: solid;
	--p-splitbutton-outlined-button-border-color: inherit;
	--p-splitbutton-outlined-button-hover-color: var(--p-primary-color);
	--p-splitbutton-outlined-button-hover-background: color-mix(in srgb, var(--p-primary-color), transparent 4%);
	--p-splitbutton-outlined-button-active-color: var(--p-primary-color);
	--p-splitbutton-outlined-button-active-background: color-mix(in srgb, var(--p-primary-color), transparent 16%);
	--p-splitbutton-plain-button-color: #6c757d;
	--p-splitbutton-plain-button-border-width: inherit;
	--p-splitbutton-plain-button-border-style: inherit;
	--p-splitbutton-plain-button-border-color: #6c757d;
	--p-splitbutton-plain-button-hover-color: #6c757d;
	--p-splitbutton-plain-button-hover-background: #e9ecef;
	--p-splitbutton-plain-button-active-color: #6c757d;
	--p-splitbutton-plain-button-active-background: #dee2e6;
	--p-splitbutton-text-button-color: var(--p-primary-color);
	--p-splitbutton-text-button-background: transparent;
	--p-splitbutton-text-button-border-width: inherit;
	--p-splitbutton-text-button-border-style: inherit;
	--p-splitbutton-text-button-border-color: transparent;
	--p-splitbutton-text-button-hover-color: var(--p-primary-color);
	--p-splitbutton-text-button-hover-background: color-mix(in srgb, var(--p-primary-color), transparent 4%);
	--p-splitbutton-text-button-hover-border-width: inherit;
	--p-splitbutton-text-button-hover-border-style: inherit;
	--p-splitbutton-text-button-hover-border-color: transparent;
	--p-splitbutton-text-button-active-color: var(--p-primary-color);
	--p-splitbutton-text-button-active-background: color-mix(in srgb, var(--p-primary-color), transparent 16%);
	--p-splitbutton-text-button-active-border-width: inherit;
	--p-splitbutton-text-button-active-border-style: inherit;
	--p-splitbutton-text-button-active-border-color: transparent;
	--p-splitbutton-raised-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) ;
	--p-splitbutton-rounded-border-width: inherit;
	--p-splitbutton-rounded-border-style: inherit;
	--p-splitbutton-rounded-border-color: inherit;
	--p-splitbutton-rounded-border-radius: 2rem;
	--p-splitbutton-rounded-button-border-width: inherit;
	--p-splitbutton-rounded-button-border-style: inherit;
	--p-splitbutton-rounded-button-border-color: inherit;
	--p-splitbutton-rounded-button-border-radius: 2rem;
	--p-splitbutton-small-button-font-size: 0.875rem;
	--p-splitbutton-small-button-font-weight: inherit;
	--p-splitbutton-small-button-padding-top: 0.65625rem;
	--p-splitbutton-small-button-padding-right: 1.09375rem;
	--p-splitbutton-small-button-padding-bottom: 0.65625rem;
	--p-splitbutton-small-button-padding-left: 1.09375rem;
	--p-splitbutton-small-button-icon-font-size: 0.875rem;
	--p-splitbutton-small-button-icon-font-weight: inherit;
	--p-splitbutton-large-button-font-size: 1.25rem;
	--p-splitbutton-large-button-font-weight: inherit;
	--p-splitbutton-large-button-padding-top: 0.9375rem;
	--p-splitbutton-large-button-padding-right: 1.5625rem;
	--p-splitbutton-large-button-padding-bottom: 0.9375rem;
	--p-splitbutton-large-button-padding-left: 1.5625rem;
	--p-splitbutton-large-icon-font-size: 1.25rem;
	--p-splitbutton-large-icon-font-weight: inherit;
	--p-splitbutton-secondary-outlined-button-color: #64748b;
	--p-splitbutton-secondary-outlined-button-background: transparent;
	--p-splitbutton-secondary-outlined-button-border-width: 1px;
	--p-splitbutton-secondary-outlined-button-border-style: solid;
	--p-splitbutton-secondary-outlined-button-border-color: #64748b;
	--p-splitbutton-secondary-outlined-button-hover-color: #64748b;
	--p-splitbutton-secondary-outlined-button-hover-background: rgba(100, 116, 139, 0.04);
	--p-splitbutton-secondary-outlined-button-active-color: #64748b;
	--p-splitbutton-secondary-outlined-button-active-background: rgba(100, 116, 139, 0.16);
	--p-splitbutton-secondary-text-button-color: #64748b;
	--p-splitbutton-secondary-text-button-background: transparent;
	--p-splitbutton-secondary-text-button-border-width: inherit;
	--p-splitbutton-secondary-text-button-border-style: inherit;
	--p-splitbutton-secondary-text-button-border-color: transparent;
	--p-splitbutton-secondary-text-button-hover-color: #64748b;
	--p-splitbutton-secondary-text-button-hover-background: rgba(100, 116, 139, 0.04);
	--p-splitbutton-secondary-text-button-hover-border-width: inherit;
	--p-splitbutton-secondary-text-button-hover-border-style: inherit;
	--p-splitbutton-secondary-text-button-hover-border-color: transparent;
	--p-splitbutton-secondary-text-button-active-color: #64748b;
	--p-splitbutton-secondary-text-button-active-background: rgba(100, 116, 139, 0.16);
	--p-splitbutton-secondary-text-button-active-border-width: inherit;
	--p-splitbutton-secondary-text-button-active-border-style: inherit;
	--p-splitbutton-secondary-text-button-active-border-color: transparent;
	--p-splitbutton-info-outlined-button-color: #64748b;
	--p-splitbutton-info-outlined-button-background: transparent;
	--p-splitbutton-info-outlined-button-border-width: 1px;
	--p-splitbutton-info-outlined-button-border-style: solid;
	--p-splitbutton-info-outlined-button-border-color: inherit;
	--p-splitbutton-info-outlined-button-hover-color: #64748b;
	--p-splitbutton-info-outlined-button-hover-background: rgba(100, 116, 139, 0.04);
	--p-splitbutton-info-outlined-button-active-color: #64748b;
	--p-splitbutton-info-outlined-button-active-background: rgba(100, 116, 139, 0.16);
	--p-splitbutton-info-text-button-color: #64748b;
	--p-splitbutton-info-text-button-background: transparent;
	--p-splitbutton-info-text-button-border-width: inherit;
	--p-splitbutton-info-text-button-border-style: inherit;
	--p-splitbutton-info-text-button-border-color: transparent;
	--p-splitbutton-info-text-button-hover-color: #64748b;
	--p-splitbutton-info-text-button-hover-background: rgba(100, 116, 139, 0.04);
	--p-splitbutton-info-text-button-hover-border-width: inherit;
	--p-splitbutton-info-text-button-hover-border-style: inherit;
	--p-splitbutton-info-text-button-hover-border-color: transparent;
	--p-splitbutton-info-text-button-active-color: #64748b;
	--p-splitbutton-info-text-button-active-background: rgba(100, 116, 139, 0.16);
	--p-splitbutton-info-text-button-active-border-width: inherit;
	--p-splitbutton-info-text-button-active-border-style: inherit;
	--p-splitbutton-info-text-button-active-border-color: transparent;
	--p-splitbutton-success-outlined-button-color: #22c55e;
	--p-splitbutton-success-outlined-button-background: transparent;
	--p-splitbutton-success-outlined-button-border-width: 1px;
	--p-splitbutton-success-outlined-button-border-style: solid;
	--p-splitbutton-success-outlined-button-border-color: inherit;
	--p-splitbutton-success-outlined-button-hover-color: #22c55e;
	--p-splitbutton-success-outlined-button-hover-background: rgba(34, 197, 94, 0.04);
	--p-splitbutton-success-outlined-button-active-color: #22c55e;
	--p-splitbutton-success-outlined-button-active-background: rgba(34, 197, 94, 0.16);
	--p-splitbutton-success-text-button-color: #22c55e;
	--p-splitbutton-success-text-button-background: transparent;
	--p-splitbutton-success-text-button-border-width: inherit;
	--p-splitbutton-success-text-button-border-style: inherit;
	--p-splitbutton-success-text-button-border-color: transparent;
	--p-splitbutton-success-text-button-hover-color: #22c55e;
	--p-splitbutton-success-text-button-hover-background: rgba(34, 197, 94, 0.04);
	--p-splitbutton-success-text-button-hover-border-width: inherit;
	--p-splitbutton-success-text-button-hover-border-style: inherit;
	--p-splitbutton-success-text-button-hover-border-color: transparent;
	--p-splitbutton-success-text-button-active-color: #22c55e;
	--p-splitbutton-success-text-button-active-background: rgba(34, 197, 94, 0.16);
	--p-splitbutton-success-text-button-active-border-width: inherit;
	--p-splitbutton-success-text-button-active-border-style: inherit;
	--p-splitbutton-success-text-button-active-border-color: transparent;
	--p-splitbutton-warning-outlined-button-color: #f59e0b;
	--p-splitbutton-warning-outlined-button-background: transparent;
	--p-splitbutton-warning-outlined-button-border-width: 1px;
	--p-splitbutton-warning-outlined-button-border-style: solid;
	--p-splitbutton-warning-outlined-button-border-color: inherit;
	--p-splitbutton-warning-outlined-button-hover-color: #f59e0b;
	--p-splitbutton-warning-outlined-button-hover-background: rgba(245, 158, 11, 0.04);
	--p-splitbutton-warning-outlined-button-active-color: #f59e0b;
	--p-splitbutton-warning-outlined-button-active-background: rgba(245, 158, 11, 0.16);
	--p-splitbutton-warning-text-button-color: #f59e0b;
	--p-splitbutton-warning-text-button-background: transparent;
	--p-splitbutton-warning-text-button-border-width: inherit;
	--p-splitbutton-warning-text-button-border-style: inherit;
	--p-splitbutton-warning-text-button-border-color: transparent;
	--p-splitbutton-warning-text-button-hover-color: #f59e0b;
	--p-splitbutton-warning-text-button-hover-background: rgba(245, 158, 11, 0.04);
	--p-splitbutton-warning-text-button-hover-border-width: inherit;
	--p-splitbutton-warning-text-button-hover-border-style: inherit;
	--p-splitbutton-warning-text-button-hover-border-color: transparent;
	--p-splitbutton-warning-text-button-active-color: #f59e0b;
	--p-splitbutton-warning-text-button-active-background: rgba(245, 158, 11, 0.16);
	--p-splitbutton-warning-text-button-active-border-width: inherit;
	--p-splitbutton-warning-text-button-active-border-style: inherit;
	--p-splitbutton-warning-text-button-active-border-color: transparent;
	--p-splitbutton-help-outlined-button-color: #a855f7;
	--p-splitbutton-help-outlined-button-background: transparent;
	--p-splitbutton-help-outlined-button-border-width: 1px;
	--p-splitbutton-help-outlined-button-border-style: solid;
	--p-splitbutton-help-outlined-button-border-color: inherit;
	--p-splitbutton-help-outlined-button-hover-color: #a855f7;
	--p-splitbutton-help-outlined-button-hover-background: rgba(168, 85, 247, 0.04);
	--p-splitbutton-help-outlined-button-active-color: #a855f7;
	--p-splitbutton-help-outlined-button-active-background: rgba(168, 85, 247, 0.16);
	--p-splitbutton-help-text-button-color: #a855f7;
	--p-splitbutton-help-text-button-background: transparent;
	--p-splitbutton-help-text-button-border-width: inherit;
	--p-splitbutton-help-text-button-border-style: inherit;
	--p-splitbutton-help-text-button-border-color: transparent;
	--p-splitbutton-help-text-button-hover-color: #a855f7;
	--p-splitbutton-help-text-button-hover-background: rgba(168, 85, 247, 0.04);
	--p-splitbutton-help-text-button-hover-border-width: inherit;
	--p-splitbutton-help-text-button-hover-border-style: inherit;
	--p-splitbutton-help-text-button-hover-border-color: transparent;
	--p-splitbutton-help-text-button-active-color: #a855f7;
	--p-splitbutton-help-text-button-active-background: rgba(168, 85, 247, 0.16);
	--p-splitbutton-help-text-button-active-border-width: inherit;
	--p-splitbutton-help-text-button-active-border-style: inherit;
	--p-splitbutton-help-text-button-active-border-color: transparent;
	--p-splitbutton-danger-outlined-button-color: #ef4444;
	--p-splitbutton-danger-outlined-button-background: transparent;
	--p-splitbutton-danger-outlined-button-border-width: 1px;
	--p-splitbutton-danger-outlined-button-border-style: solid;
	--p-splitbutton-danger-outlined-button-border-color: inherit;
	--p-splitbutton-danger-outlined-button-hover-color: #ef4444;
	--p-splitbutton-danger-outlined-button-hover-background: rgba(239, 68, 68, 0.04);
	--p-splitbutton-danger-outlined-button-active-color: #ef4444;
	--p-splitbutton-danger-outlined-button-active-background: rgba(239, 68, 68, 0.16);
	--p-splitbutton-danger-text-button-color: #ef4444;
	--p-splitbutton-danger-text-button-background: transparent;
	--p-splitbutton-danger-text-button-border-width: inherit;
	--p-splitbutton-danger-text-button-border-style: inherit;
	--p-splitbutton-danger-text-button-border-color: transparent;
	--p-splitbutton-danger-text-button-hover-color: #ef4444;
	--p-splitbutton-danger-text-button-hover-background: rgba(239, 68, 68, 0.04);
	--p-splitbutton-danger-text-button-hover-border-width: inherit;
	--p-splitbutton-danger-text-button-hover-border-style: inherit;
	--p-splitbutton-danger-text-button-hover-border-color: transparent;
	--p-splitbutton-danger-text-button-active-color: #ef4444;
	--p-splitbutton-danger-text-button-active-background: rgba(239, 68, 68, 0.16);
	--p-splitbutton-danger-text-button-active-border-width: inherit;
	--p-splitbutton-danger-text-button-active-border-style: inherit;
	--p-splitbutton-danger-text-button-active-border-color: transparent;
}