.p-toast {
    .p-toast-message {
        backdrop-filter: blur(10px);
        border-radius: 10px;

        .p-toast-message-content {
            .p-toast-detail {
                color: $textColor;
                font-size: .875rem;
            }
        }
    }
}

.p-toast {
    .p-toast-message.p-toast-message-info {
        .p-toast-icon-close {
            outline-color: $infoMessageIconColor;
        }
    }

    .p-toast-message.p-toast-message-success {
        .p-toast-icon-close {
            outline-color: $successMessageIconColor;
        }
    }

    .p-toast-message.p-toast-message-warn {
        .p-toast-icon-close {
            outline-color: $warningMessageIconColor;
        }
    }

    .p-toast-message.p-toast-message-error {
        .p-toast-icon-close {
            outline-color: $errorMessageIconColor;
        }
    }
}