:root {
	--p-accordion-gap: 4px;
	--p-accordion-header-font-size: initial;
	--p-accordion-header-font-weight: 700;
	--p-accordion-header-color: #6c757d;
	--p-accordion-header-background: #f8f9fa;
	--p-accordion-header-padding-top: 1.25rem;
	--p-accordion-header-padding-right: 1.25rem;
	--p-accordion-header-padding-bottom: 1.25rem;
	--p-accordion-header-padding-left: 1.25rem;
	--p-accordion-header-border-width: 1px;
	--p-accordion-header-border-style: solid;
	--p-accordion-header-border-color: #dee2e6;
	--p-accordion-header-hover-color: #343a40;
	--p-accordion-header-hover-background: #e9ecef;
	--p-accordion-header-hover-border-width: inherit;
	--p-accordion-header-hover-border-style: inherit;
	--p-accordion-header-hover-border-color: #dee2e6;
	--p-accordion-header-focus-outline-color: var(--p-primary-light-color);
	--p-accordion-header-focus-outline-style: none;
	--p-accordion-header-focus-outline-width: 0;
	--p-accordion-header-focus-outline-offset: 0;
	--p-accordion-header-focus-box-shadow: inset 0 0 0 0.2rem var(--p-primary-light-color);
	--p-accordion-header-active-color: #343a40;
	--p-accordion-header-active-background: #f8f9fa;
	--p-accordion-header-active-border-width: inherit;
	--p-accordion-header-active-border-style: inherit;
	--p-accordion-header-active-border-color: #dee2e6;
	--p-accordion-header-active-hover-color: #343a40;
	--p-accordion-header-active-hover-background: #e9ecef;
	--p-accordion-header-active-hover-border-width: inherit;
	--p-accordion-header-active-hover-border-style: inherit;
	--p-accordion-header-active-hover-border-color: #dee2e6;
	--p-accordion-content-color: #495057;
	--p-accordion-content-background: #ffffff;
	--p-accordion-content-padding-top: 1.25rem;
	--p-accordion-content-padding-right: 1.25rem;
	--p-accordion-content-padding-bottom: 1.25rem;
	--p-accordion-content-padding-left: 1.25rem;
	--p-accordion-content-border-width: inherit;
	--p-accordion-content-border-style: inherit;
	--p-accordion-content-border-color: #dee2e6;
}