:root {
	--p-card-color: #495057;
	--p-card-background: #ffffff;
	--p-card-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
	--p-card-body-padding-top: 1.25rem;
	--p-card-body-padding-right: 1.25rem;
	--p-card-body-padding-bottom: 1.25rem;
	--p-card-body-padding-left: 1.25rem;
	--p-card-title-font-size: 1.5rem;
	--p-card-title-font-weight: 700;
	--p-card-subtitle-font-size: inherit;
	--p-card-subtitle-font-weight: 700;
	--p-card-subtitle-color: #6c757d;
	--p-card-content-padding-top: 1.25rem;
	--p-card-content-padding-right: 0;
	--p-card-content-padding-bottom: 1.25rem;
	--p-card-content-padding-left: 0;
	--p-card-footer-padding-top: 1.25rem;
	--p-card-footer-padding-right: 0;
	--p-card-footer-padding-bottom: 0;
	--p-card-footer-padding-left: 0;
}