:root {
	--p-fieldset-color: #495057;
	--p-fieldset-background: #ffffff;
	--p-fieldset-border-width: 1px;
	--p-fieldset-border-style: solid;
	--p-fieldset-border-color: #dee2e6;
	--p-fieldset-legend-font-size: inherit;
	--p-fieldset-legend-font-weight: 700;
	--p-fieldset-legend-color: #343a40;
	--p-fieldset-legend-background: #f8f9fa;
	--p-fieldset-legend-border-width: 1px;
	--p-fieldset-legend-border-style: solid;
	--p-fieldset-legend-border-color: #dee2e6;
	--p-fieldset-legend-padding-top: 1.25rem;
	--p-fieldset-legend-padding-right: 1.25rem;
	--p-fieldset-legend-padding-bottom: 1.25rem;
	--p-fieldset-legend-padding-left: 1.25rem;
	--p-fieldset-content-padding-top: 1.25rem;
	--p-fieldset-content-padding-right: 1.25rem;
	--p-fieldset-content-padding-bottom: 1.25rem;
	--p-fieldset-content-padding-left: 1.25rem;
	--p-fieldset-toggleable-legend-hover-color: #343a40;
	--p-fieldset-toggleable-legend-hover-background: #e9ecef;
	--p-fieldset-toggleable-legend-hover-border-width: inherit;
	--p-fieldset-toggleable-legend-hover-border-style: inherit;
	--p-fieldset-toggleable-legend-hover-border-color: #343a40;
	--p-fieldset-toggleable-legend-hover-outline-color: var(--p-primary-light-color);
	--p-fieldset-toggleable-legend-hover-outline-style: none;
	--p-fieldset-toggleable-legend-hover-outline-width: 0;
	--p-fieldset-toggleable-legend-hover-outline-offset: 0;
	--p-fieldset-toggleable-legend-hover-box-shadow: 0 0 0 0.2rem var(--p-primary-light-color);
}