:root {
	--p-tabview-gap: 0;
	--p-tabview-nav-background: #ffffff;
	--p-tabview-nav-border-width: 0 0 2px 0;
	--p-tabview-nav-border-style: solid;
	--p-tabview-nav-border-color: #dee2e6;
	--p-tabview-nav-button-color: var(--p-primary-color);
	--p-tabview-nav-button-background: #ffffff;
	--p-tabview-nav-button-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	--p-tabview-nav-button-width: 3rem;
	--p-tabview-nav-button-focus-outline-color: var(--p-primary-light-color);
	--p-tabview-nav-button-focus-outline-style: none;
	--p-tabview-nav-button-focus-outline-width: 0;
	--p-tabview-nav-button-focus-outline-offset: 0;
	--p-tabview-nav-button-focus-box-shadow: inset 0 0 0 0.2rem var(--p-primary-light-color);
	--p-tabview-header-color: #6c757d;
	--p-tabview-header-background: #ffffff;
	--p-tabview-header-font-size: inherit;
	--p-tabview-header-font-weight: 700;
	--p-tabview-header-border-width: 0 0 2px 0;
	--p-tabview-header-border-style: solid;
	--p-tabview-header-border-color: transparent transparent #dee2e6 transparent;
	--p-tabview-header-padding-top: 1.25rem;
	--p-tabview-header-padding-right: 1.25rem;
	--p-tabview-header-padding-bottom: 1.25rem;
	--p-tabview-header-padding-left: 1.25rem;
	--p-tabview-header-margin-top: 0;
	--p-tabview-header-margin-right: 0;
	--p-tabview-header-margin-bottom: -2px;
	--p-tabview-header-margin-left: 0;
	--p-tabview-header-hover-color: #6c757d;
	--p-tabview-header-hover-background: #ffffff;
	--p-tabview-header-hover-border-width: inherit;
	--p-tabview-header-hover-border-style: inherit;
	--p-tabview-header-hover-border-color: #adb5bd;
	--p-tabview-header-focus-outline-color: var(--p-primary-light-color);
	--p-tabview-header-focus-outline-style: none;
	--p-tabview-header-focus-outline-width: 0;
	--p-tabview-header-focus-outline-offset: 0;
	--p-tabview-header-focus-box-shadow: inset 0 0 0 0.2rem var(--p-primary-light-color);
	--p-tabview-header-active-color: var(--p-primary-color);
	--p-tabview-header-active-background: #ffffff;
	--p-tabview-header-active-border-width: inherit;
	--p-tabview-header-active-border-style: inherit;
	--p-tabview-header-active-border-color: var(--p-primary-color);
	--p-tabview-content-color: #495057;
	--p-tabview-content-background: #ffffff;
	--p-tabview-content-padding-top: 1.25rem;
	--p-tabview-content-padding-right: 1.25rem;
	--p-tabview-content-padding-bottom: 1.25rem;
	--p-tabview-content-padding-left: 1.25rem;
	--p-tabview-content-border-width: 0;
	--p-tabview-content-border-style: none;
	--p-tabview-content-border-color: initial;
}